## Data Manipulation Exercises

[Source for quizzes](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

* 101 python pandas exercises are designed to challenge your logical muscle and to help internalize data manipulation with python’s favorite package for data analysis. The questions are of 3 levels of difficulties with L1 being the easiest to L3 being the hardest.

In [2]:
import pandas as pd
import numpy as np

<span style="color:purple;font-size:20px; font-weight:bold">Question 1 <span>
* In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB

In [13]:
print(df['Min.Price'].mean())
print(df['Max.Price'].mean())

17.118604651162787
21.45909090909091

In [37]:
#df[np.isnan(df['Min.Price'])] 
minMean  = df['Min.Price'].mean()
maxMedian  = df['Max.Price'].median()

df['Min.Price']= df['Min.Price'].apply(lambda x: minMean if np.isnan(x) else x)
df['Max.Price']= df['Max.Price'].apply(lambda x: maxMedian if np.isnan(x) else x)

In [40]:
print(df[np.isnan(df['Min.Price'])])
print(df[np.isnan(df['Max.Price'])])

Empty DataFrame
Columns: [Manufacturer, Model, Type, Min.Price, Price, Max.Price, MPG.city, MPG.highway, AirBags, DriveTrain, Cylinders, EngineSize, Horsepower, RPM, Rev.per.mile, Man.trans.avail, Fuel.tank.capacity, Passengers, Length, Wheelbase, Width, Turn.circle, Rear.seat.room, Luggage.room, Weight, Origin, Make]
Index: []

[0 rows x 27 columns]
Empty DataFrame
Columns: [Manufacturer, Model, Type, Min.Price, Price, Max.Price, MPG.city, MPG.highway, AirBags, DriveTrain, Cylinders, EngineSize, Horsepower, RPM, Rev.per.mile, Man.trans.avail, Fuel.tank.capacity, Passengers, Length, Wheelbase, Width, Turn.circle, Rear.seat.room, Luggage.room, Weight, Origin, Make]
Index: []

[0 rows x 27 columns]

<span style="color:purple;font-size:20px; font-weight:bold">Question 2 <span>
* In df, interchange columns 'a' and 'c'.
    * Create a generic function to interchange two columns, without hardcoding column names.

    * Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [95]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int32
 1   b       4 non-null      int32
 2   c       4 non-null      int32
 3   d       4 non-null      int32
 4   e       4 non-null      int32
dtypes: int32(5)
memory usage: 208.0 bytes

In [96]:
#Solution : Aim : to select column from original dataframe in certain order to create new dataframe
                # The order is manipulated in a LIST (since Index of columns is immutable)

print(df)
def switch_column(df, m, n):
    col_list = list(df.columns)
    col_list[m], col_list[n] = col_list[n], col_list[m]
    return df[col_list]

df_new = switch_column(df, 0, 2)
print(df_new)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [106]:
print(df)
def reverse_column(df, m, n):
    col_list = list(df.columns)
    col_list.reverse()
    return df[col_list]

df_new = reverse_column(df, 0, 2)
print(df_new)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

<span style="color:dark purple;font-size:20px; font-weight:bold">Question 3 <span>

* Reshape a dataframe to the largest possible square after removing the negative values
    * Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. 
    * The order of the positive numbers in the result should remain the same as the original.

In [110]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))

In [118]:
series.reshape?

Object `series.reshape` not found.

In [ ]:
np.random.randint(-20, 50, 100).reshape

<span style="color:purple;font-size:20px; font-weight:bold">Question 4 <span>

* Add columns to the end of each row with the minimum and max of the row

In [128]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [129]:
df['Min_In_Row'] = df.min(axis=1)
df['Max_In_Row'] = df.max(axis=1)

In [130]:
df

    0   1   2   3   4   5   6   7   8   9  Min_In_Row  Max_In_Row
0  34  90  73  59  21   9  79  21  88  97           9          97
1  51   8  90  66  83  12  12  52  82  22           8          90
2  31  86  33  72  91   7  56  57  41   7           7          91
3  27  24  56   2   6  74  99   4  31  18           2          99
4  27  98  70  43  71  57  10  87  68  48          10          98
5   6  78  97  19  76  91  77   5  54  75           5          97
6  33   6  12  63  78   9  41  72  96  14           6          96
7   2  41  99  34  27  20  75  60  90  97           2          99

<span style="color:purple;font-size:20px;font-weight:bold">Question 5</span>
* Extract details of a Group from a GroupBy Object

In [148]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

In [150]:
for name, eachGroup in df_grouped:
    print("Name of Group: ", name)
    
    print("Group details: \n", eachGroup )

Name of Group:  apple
Group details:
     col1      col2  col3
0  apple  0.539424     1
3  apple  0.975470    12
6  apple  0.336752     3
Name of Group:  banana
Group details:
      col1      col2  col3
1  banana  0.979078     7
4  banana  0.352528     5
7  banana  0.035099     7
Name of Group:  orange
Group details:
      col1      col2  col3
2  orange  0.486602    10
5  orange  0.933431     3
8  orange  0.616938     3

<span style="color:purple;font-size:20px; font-weight:bold">Question 6 <span>
    
*  Replace both the diagonals of dataframe with 0?
    
  <a href="https://numpy.org/doc/stable/reference/generated/numpy.fill_diagonal.html" style="color:red;font-size:15px">Details about matrix operations</a>

In [162]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

In [163]:
print(df)

    0   1   2   3   4   5   6   7   8   9
0  99  56  18  13  48  87  75  13  26  16
1  57  36  35   2  72  26  51  34  54  52
2  13  20  48  41  20  66  96  53  46  73
3  92   8  48  11  64  77  66  93  34  35
4  18  12  72  40  12  96  46  26  98   8
5  84  63   2  61   6  54  51  19  68   3
6  52  19  93  59  16  58  97  61  69  73
7  68  20  50  57  38  63  80  25  33  57
8  69  55  55   7  48  89  12  64  74  19
9  71  26  32  44  60  43  57  62  35  43

In [164]:
diag_list = [0] * 10

#You cannot pass the dataframe itself to the function
np.fill_diagonal(df.values, diag_list)  # Horizontal flip
np.fill_diagonal(np.fliplr(df.values), diag_list)  # Horizontal flip

# a = np.zeros((3, 3), int);
# np.fill_diagonal(np.fliplr(a), [2,2,2])  # Horizontal flip
print(df)
print(diag_list)
# np.fill_diagonal(np.flipud(a), [1,2,3])  # Vertical flip
# a
# array([[0, 0, 3],
#        [0, 2, 0],
#        [1, 0, 0]])

    0   1   2   3   4   5   6   7   8   9
0   0  56  18  13  48  87  75  13  26   0
1  57   0  35   2  72  26  51  34   0  52
2  13  20   0  41  20  66  96   0  46  73
3  92   8  48   0  64  77   0  93  34  35
4  18  12  72  40   0   0  46  26  98   8
5  84  63   2  61   0   0  51  19  68   3
6  52  19  93   0  16  58   0  61  69  73
7  68  20   0  57  38  63  80   0  33  57
8  69   0  55   7  48  89  12  64   0  19
9   0  26  32  44  60  43  57  62  35   0
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

<span style="color:purple;font-size:20px">Question 7 <span>
* Normalize all columns in a dataframe (without external packages like sklearn)
        * Normalize all columns of df by subtracting the column mean and divide by standard deviation.
        * Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [195]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [196]:
df

    0   1   2   3   4   5   6   7   8   9
0  29  24  81  11   5  15   1  37  59  76
1  61  56  43   6  40  31  31  59  18  18
2  96  49  21  65  38  13  84  15  58  48
3  40  45  43  48   3  68  62  64  43   2
4  48  59  84  52  75  39   6  66  84  82
5  36  51  82  91  51  58  24  74  81  45
6   4  73  22  68  59  92  20  97  38   1
7  64  28  18  78  84  35  29  40  62  28

In [198]:
df_out = df.copy()
for eachCol in df.columns:
    col_mean = df[eachCol].mean()
    col_std = df[eachCol].std()
    df_out[eachCol] = df[eachCol].apply(lambda x : np.round((x - col_mean)/col_std, 2) )
    #print (df[eachCol].mean(), df[eachCol].std())
df_out

      0     1     2     3     4     5     6     7     8     9
0 -0.67 -1.50  1.10 -1.36 -1.34 -1.06 -1.11 -0.77  0.16  1.25
1  0.50  0.49 -0.22 -1.53 -0.15 -0.47 -0.04  0.10 -1.70 -0.63
2  1.78  0.05 -0.97  0.42 -0.22 -1.14  1.86 -1.64  0.12  0.34
3 -0.27 -0.19 -0.22 -0.14 -1.40  0.89  1.07  0.30 -0.56 -1.15
4  0.03  0.68  1.20 -0.01  1.04 -0.18 -0.94  0.38  1.30  1.44
5 -0.41  0.18  1.13  1.27  0.22  0.52 -0.29  0.69  1.16  0.24
6 -1.58  1.55 -0.94  0.52  0.50  1.77 -0.43  1.60 -0.79 -1.18
7  0.61 -1.25 -1.08  0.85  1.34 -0.33 -0.11 -0.65  0.30 -0.31

In [203]:
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print(out1)

      0     1     2     3     4     5     6     7     8     9
0 -0.67 -1.50  1.10 -1.36 -1.34 -1.06 -1.11 -0.77  0.16  1.25
1  0.50  0.49 -0.22 -1.53 -0.15 -0.47 -0.04  0.10 -1.70 -0.63
2  1.78  0.05 -0.97  0.42 -0.22 -1.14  1.86 -1.64  0.12  0.34
3 -0.27 -0.19 -0.22 -0.14 -1.40  0.89  1.07  0.30 -0.56 -1.15
4  0.03  0.68  1.20 -0.01  1.04 -0.18 -0.94  0.38  1.30  1.44
5 -0.41  0.18  1.13  1.27  0.22  0.52 -0.29  0.69  1.16  0.24
6 -1.58  1.55 -0.94  0.52  0.50  1.77 -0.43  1.60 -0.79 -1.18
7  0.61 -1.25 -1.08  0.85  1.34 -0.33 -0.11 -0.65  0.30 -0.31

In [204]:
# Convert all values of a dataframe into percentages

df = pd.DataFrame(np.random.random(4), columns=['random'])

<span style="color:purple;font-size:20px ; font-weight:bold">Question 8 <span>
* Convert all data elements in dataframe to a percent with sign

In [211]:
df.applymap(lambda x: np.str(np.round(x*100, 2)) + '%')

   random
0  10.46%
1   12.2%
2  85.75%
3   6.71%

<span style="color:purple;font-size:20px ; font-weight:bold">Question 9 <span>
* Swap two rows in a dataframe
    * Swap rows 1 and 2 in df.

In [236]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
#print(df.loc[0],df.loc[1] )
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [237]:
#NOTE !!! The copy
save_series = df.loc[0].copy()
df.loc[0] = df.loc[1]
df.loc[1] = save_series
print(df)

    0   1   2   3   4
0   5   6   7   8   9
1   0   1   2   3   4
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

<span style="color:purple;font-size:20px ; font-weight:bold">Question 10 <span>
* Reverse the rows of a dataframe

In [257]:
df = pd.DataFrame(np.arange(36).reshape(6, -1))
print(df)

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [258]:
for i in range(len(df.index)//2):
    save_series = df.loc[i].copy()
    other_i = len(df.index) - (i+1)
    df.loc[i] = df.loc[other_i].copy()
    df.loc[other_i] = save_series  
print(df)

    0   1   2   3   4   5
0  30  31  32  33  34  35
1  24  25  26  27  28  29
2  18  19  20  21  22  23
3  12  13  14  15  16  17
4   6   7   8   9  10  11
5   0   1   2   3   4   5