<div class="alert alert-block alert-info">
                                            Regular Expressions
    <p><a href= "https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html">Pandas documentation for text</a>
    <p><a href = 'https://www.analyticsvidhya.com/blog/2014/11/text-data-cleaning-steps-python/'> Analytics Vidhya Data Cleaning</a> 
    <p><a href = 'http://ieva.rocks/2016/08/07/cleaning-text-for-nlp/'> NLP Data Cleaning</a> 
        
</div>

![alt Regexp](FIG1.png "Title")

![alt Regexp](FIG2.png "Title")


<div class='alert alert-block alert-info'>
<li>[^] ( within [ ] ) is negation in regular expression whereas ^ is "begining of string"</li>

<li>[^a-z] matches any single character that is not from "a" to "z"</li>

<li>^[a-z] means string starts with from "a" to "z"</li>

</div>

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [12]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.iloc[0]

'03/25/93 Total time of visit (in minutes):\n'

In [20]:
pd.set_option('max_colwidth', 200)
pd.set_option('max_rows', 500)

In [14]:
df.shape
df.iloc[0:7]

0                        03/25/93 Total time of visit (in minutes):\n
1                                      6/18/85 Primary Care Doctor:\n
2            sshe plans to move as of 7/8/71 In-Home Services: None\n
3                               7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7\n
5                                   .Per 7/06/79 Movement D/O note:\n
6      4, 5/18/78 Patient's thoughts about current substance abuse:\n
dtype: object

<div class='alert alert-block alert-info'> 
The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates.
</div>

In [17]:
df = pd.DataFrame(df, columns=['Text'])

In [23]:
df.iloc[0:100]

,Text,text_contains_month
0,03/25/93 Total time of visit (in minutes):\n,False
1,6/18/85 Primary Care Doctor:\n,False
2,sshe plans to move as of 7/8/71 In-Home Services: None\n,False
3,7 on 9/27/75 Audit C Score Current:\n,False
4,2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7\n,False
5,.Per 7/06/79 Movement D/O note:\n,False
6,"4, 5/18/78 Patient's thoughts about current substance abuse:\n",False
7,10/24/89 CPT Code: 90801 - Psychiatric Diagnosis Interview\n,False
8,3/7/86 SOS-10 Total Score:\n,False
9,(4/10/71)Score-1Audit C Score Current:\n,False
10,"(5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC_12.6Activities of Daily Living (ADL) Bathing: Independent\n",False
11,4/09/75 SOS-10 Total Score:\n,False
12,8/01/98 Communication with referring physician?: Done\n,False
13,1/26/72 Communication with referring physician?: Not Done\n,False
14,5/24/1990 CPT Code: 90792: With medical services\n,False
15,1/25/2011 CPT Code: 90792: With medical services\n,False
16,4/12/82 Total time of visit (in minutes):\n,False
17,"1; 10/13/1976 Audit C Score, Highest/Date:\n",False
18,"4, 4/24/98 Relevant Drug History:\n",False
19,) 59 yo unemployed w referred by Urgent Care for psychiatric evaluation and follow up. The patient reports she has been dx w BAD. Her main complaint today is anergy. Ms. Hartman was evaluated on o...,False
20,7/21/98 Total time of visit (in minutes):\n,False
21,10/21/79 SOS-10 Total Score:\n,False
22,3/03/90 CPT Code: 90792: With medical services\n,False
23,2/11/76 CPT Code: 90792: With medical services\n,False
24,07/25/1984 CPT Code: 90791: No medical services\n,False
25,4-13-82 Other Child Mental Health Outcomes Scales Used:\n,False
26,9/22/89 CPT Code: 90792: With medical services\n,False
27,9/02/76 CPT Code: 90791: No medical services\n,False
28,9/12/71 [report_end]\n,False
29,10/24/86 Communication with referring physician?: Done\n,False
30,03/31/1985 Total time of visit (in minutes):\n,False
31,7/20/72 CPT Code: 90791: No medical services\n,False
32,"4/12/87= 1, negativeAudit C Score Current:\n",False
33,06/20/91 Total time of visit (in minutes):\n,False
34,5/12/2012 Primary Care Doctor:\n,False
35,3/15/83 SOS-10 Total Score:\n,False
36,2/14/73 CPT Code: 90801 - Psychiatric Diagnosis Interview\n,False
37,5/24/88 CPT Code: 90792: With medical services\n,False
38,7/27/1986 Total time of visit (in minutes):\n,False
39,1-14-81 Communication with referring physician?: Done\n,False
40,7-29-75 CPT Code: 90801 - Psychiatric Diagnosis Interview\n,False
41,(6/24/87) TSH-2.18; Activities of Daily Living (ADL) Bathing: Independent\n,False
42,8/14/94 Primary Care Doctor:\n,False
43,4/13/2002 Primary Care Doctor:\n,False
44,8/16/82 CPT Code: 90792: With medical services\n,False
45,2/15/1998 Total time of visit (in minutes):\n,False
46,7/15/91 CPT Code: 90792: With medical services\n,False
47,06/12/94 SOS-10 Total Score:\n,False
48,9/17/84 Communication with referring physician?: Done\n,False
49,2/28/75 Other Adult Mental Health Outcomes Scales Used:\n,False
50,sOP WPM - Dr. Romo-psychopharm since 11/22/75\n,False
51,"""In the context of the patient's work up, she had Neuropsychological testing 5/24/91. She was referred because of her cognitive decline and symptoms of motor dysfunction to help characterize her...",False
52,6/13/92 CPT Code: 90791: No medical services\n,False
53,7/11/71 SOS-10 Total Score:\n,False
54,12/26/86 CPT Code: 90791: No medical services\n,False
55,10/11/1987 CPT Code: 90791: No medical services\n,False
56,3/14/95 Primary Care Doctor:\n,False
57,12/01/73 CPT Code: 90791: No medical services\n,False
58,0: 12/5/2010 Audit C Score Current:\n,False
59,08/20/1982 SOS-10 Total Score:\n,False
60,7/24/95 SOS-10 Total Score:\n,False
61,8/06/83 CPT Code: 90791: No medical services\n,False
62,02/22/92 SOS-10 Total Score:\n,False
63,6/28/87 Impression Strengths/Abilities:\n,False
64,07/29/1994 CPT code: 99203\n,False
65,08/11/78 CPT Code: 90801 - Psychiatric Diagnosis Interview\n,False
66,10/29/91 Communication with referring physician?: Done\n,False
67,7/6/91 SOS-10 Total Score:\n,False
68,onone as of 1/21/87 Protective Factors:\n,False
69,24 yo right handed woman with history of large right frontal mass s/p resection 11/3/1985 who had recent urgent R cranial wound revision and placement of L EVD for declining vision and increased d...,False
70,7/04/82 CPT Code: 90801 - Psychiatric Diagnosis Interview\n,False
71,4-13-89 Communication with referring physician?: Not Done\n,False
72,"Lithium 0.25 (7/11/77). LFTS wnl. Urine tox neg. Serum tox + fluoxetine 500; otherwise neg. TSH 3.28. BUN/Cr: 16/0.83. Lipids unremarkable. B12 363, Folate >20. CBC: 4.9/36/308 Pertinent M...",False
73,4/12/74= 1Caffeine / Tobacco Use Caffeinated products: Yes\n,False
74,09/19/81 CPT Code: 90792: With medical services\n,False
75,9/6/79 Primary Care Doctor:\n,False
76,12/5/87 Total time of visit (in minutes):\n,False
77,01/05/1999 [report_end]\n,False
78,4/22/80 SOS-10 Total Score:\n,False
79,10/04/98 SOS-10 Total Score:\n,False
80,.Mr. Echeverria described having panic-like experiences on at least three occasions. The first of these episodes occurred when facial meshing was placed on him during radiation therapy. He recalle...,False
81,". Wile taking additional history, pt endorsed moderate depression and anxiety last 2 weeks, even though her period was on 8/04/78. Pt then acknowledged low to moderate mood and anxiety symptoms th...",False
82,Death of mother; 7/07/1974 Meaningful activities/supports:\n,False
83,09/14/2000 CPT Code: 90792: With medical services\n,False
84,5/18/71 Total time of visit (in minutes):\n,False
85,8/09/1981 Communication with referring physician?: Done\n,False
86,6/05/93 CPT Code: 90791: No medical services\n,False
87,")Dilantin (PHENYTOIN) 100 MG CAPSULE Take 2 Capsule(s) PO HS; No Change (Taking Differently), Comments: decreased from 290 daily to 260 mg daily due to elevated phenytoin level from 8/9/97\n",False
88,12/8/82 Audit C=3Audit C Score Current:\n,False
89,8/26/89 CPT Code: 90791: No medical services\n,False
90,10/13/95 CPT Code: 90791: No medical services\n,False
91,4/19/91 Communication with referring physician?: Not Done\n,False
92,".APS - Psychiatry consult paged/requested in person at 04/08/2004 16:39 Patrick, Christian [hpp2]\n",False
93,9/20/76 CPT Code: 90801 - Psychiatric Diagnosis Interview\n,False
94,12/08/1990 @11 am [report_end]\n,False
95,4/11/1974 Chief Complaint / HPI Chief Complaint (Patients own words)\n,False
96,7/18/86 SOS-10 Total Score:\n,False
97,3/31/91 Communication with referring physician?: Done\n,False
98,5/13/72 Other Adult Mental Health Outcomes Scales Used:\n,False
99,011/14/83 Audit C Score Current:\n,False

In [22]:
df = df.assign(text_contains_month = df['Text'].str.contains('Mar'))

In [24]:
df[df['text_contains_month']]

,Text,text_contains_month
108,"PET Scan (DPSH 5/04/74): 1) Marked hypometabolism involving the bilateral caudate nuclei. This is a non-specific finding, although this raises the question of a multisystem atrophy, specifically M...",True
127,see above and APS eval of 26 May 1982 Social History Marital Status: Single\n,True
150,12 March 1980 SOS-10 Total Score:\n,True
154,06 Mar 1974 Primary Care Doctor:\n,True
162,dON 05 Mar 1974\n,True
185,see 17 Aug 1985 eval by Dr. Ngo.Social History Marital Status: Married\n,True
188,12 March 2004 CPT Code: 90801 - Psychiatric Diagnosis Interview\n,True
204,"Mar. 10, 1976 CPT Code: 90791: No medical services\n",True
287,.The patient reports onset of depressed mood SINCE ~6 MONTHS s/p liver transplant in Mar 2010 associated with:\n,True
289,NV fire fighter died Sep 2007 while working. Was friend from deployment to San Marino and trainings for years prior. Still troubling to pt. Didn't go to his funeral. Spiritual/Religion:\n,True
295,sKern Hospital March 1983 for SI\n,True
297,"B/R Natchez, GA on a commune. Completed 1 year of medical school. Married to husband for 50+ years. Moved to Maine and later settled in West Hurley, AK. HAs 2 children and 5 grandchildren. Worked ...",True
299,March 1974 Primary Care Doctor:\n,True
304,"past suicidal gestures by overdose (trazodone/alcohol) and superficial cutting (high school, last in Mar 2002). Reports feeling ambivalent about life, but re ports she never really wanted to kill...",True
317,". Psychosocial: lives w/ father, looking to get own apartment. Lives in Saluda. Fa. has roommate. Parents divorced when pt 5 y/o old. Mother lives in saluda, see her often, drives hm to work. Rela...",True
323,4ectopic pregnancy in March 1973 Pertinent Medical Review of Systems Sexual (include birth control method if used):\n,True
329,"CLLC and DCF - ended in March, 2000. Psychiatric Review of Systems DEPRESSION: Has the patient had periods of time lasting two weeks or longer in which, most of the day on most days, they felt sad...",True
336,"sOcella 0.03-3MG TABLET Take 1 PO QD, next pap due March 1978 x 90 days\n",True
339,"Currently on Zoloft, 50 mg, Dicolenac, 100 mg, Hydrocodone, Seroquel, 100 mg. Was hospitalized for Serotonin Syndrome for 3 days in March, 2005 due to Dr. Potts increasing effexor and zoloft. Curr...",True
342,5Bethania Hospital March 1976 Hx of Outpatient Treatment: Yes\n,True
352,See initial PROMPTCARE evaluation from 3/1986 for more complete informationSocial History Marital Status: Single\n,True

### List of variations

<div class='alert alert-block alert-info'>
<li> 04/20/2009; 04/20/09; 4/20/09; 4/3/09</li>
<li> Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;</li>
<li> 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009</li>
<li> Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009</li>
<li> Feb 2009; Sep 2009; Oct 2010</li>
<li> 6/2008; 12/2009</li>
<li> 2009; 2010</li>
</div>

<div class='alert alert-block alert-success'>
Check for dates with all three components
    <li> 04/20/2009; 04/20/09; 4/20/09; 4/3/09</li>
</div>

In [81]:
df_date_extracted = df['Text'].str.extractall(r'(?P<FullDate>(?P<Month>\d?\d)/(?P<Day>\d?\d)/(?P<Year>\d?\d?\d\d))')



#Check for four digit dates
#df_date_extracted[df_date_extracted['Year'].str.len() == 4]

#Check for two digit dates
#df_date_extracted[df_date_extracted['Year'].str.len() == 2]
#check for year equal to three digits
df_date_extracted[(df_date_extracted['Year'].str.len() == 3)]
#72	1	9/36/308	9	36	

# This is the CBC count and so drop these
df[df['Text'].str.contains('9/36/308')]

#Remove  if dates year is NOT 2 digits or is not 4 digits
df_date_extracted_daymonth_year = df_date_extracted[(df_date_extracted['Year'].str.len() == 2) | (df_date_extracted['Year'].str.len() == 4)]

In [103]:
df_date_extracted_daymonth_year

             FullDate Month Day  Year
    match
0   0        03/25/93    03  25    93
1   0         6/18/85     6  18    85
2   0          7/8/71     7   8    71
3   0         9/27/75     9  27    75
4   0          2/6/96     2   6    96
5   0         7/06/79     7  06    79
6   0         5/18/78     5  18    78
7   0        10/24/89    10  24    89
8   0          3/7/86     3   7    86
9   0         4/10/71     4  10    71
10  0         5/11/85     5  11    85
11  0         4/09/75     4  09    75
12  0         8/01/98     8  01    98
13  0         1/26/72     1  26    72
14  0       5/24/1990     5  24  1990
15  0       1/25/2011     1  25  2011
16  0         4/12/82     4  12    82
17  0      10/13/1976    10  13  1976
18  0         4/24/98     4  24    98
19  0         5/21/77     5  21    77
20  0         7/21/98     7  21    98
21  0        10/21/79    10  21    79
22  0         3/03/90     3  03    90
23  0         2/11/76     2  11    76
24  0      07/25/1984    07  25  1984
26  0         9/22/89     9  22    89
27  0         9/02/76     9  02    76
28  0         9/12/71     9  12    71
29  0        10/24/86    10  24    86
30  0      03/31/1985    03  31  1985
31  0         7/20/72     7  20    72
32  0         4/12/87     4  12    87
33  0        06/20/91    06  20    91
34  0       5/12/2012     5  12  2012
35  0         3/15/83     3  15    83
36  0         2/14/73     2  14    73
37  0         5/24/88     5  24    88
38  0       7/27/1986     7  27  1986
41  0         6/24/87     6  24    87
42  0         8/14/94     8  14    94
43  0       4/13/2002     4  13  2002
44  0         8/16/82     8  16    82
45  0       2/15/1998     2  15  1998
46  0         7/15/91     7  15    91
47  0        06/12/94    06  12    94
48  0         9/17/84     9  17    84
49  0         2/28/75     2  28    75
50  0        11/22/75    11  22    75
51  0         5/24/91     5  24    91
52  0         6/13/92     6  13    92
53  0         7/11/71     7  11    71
54  0        12/26/86    12  26    86
55  0      10/11/1987    10  11  1987
56  0         3/14/95     3  14    95
57  0        12/01/73    12  01    73
58  0       12/5/2010    12   5  2010
59  0      08/20/1982    08  20  1982
60  0         7/24/95     7  24    95
61  0         8/06/83     8  06    83
62  0        02/22/92    02  22    92
63  0         6/28/87     6  28    87
64  0      07/29/1994    07  29  1994
65  0        08/11/78    08  11    78
66  0        10/29/91    10  29    91
67  0          7/6/91     7   6    91
68  0         1/21/87     1  21    87
69  0       11/3/1985    11   3  1985
70  0         7/04/82     7  04    82
72  0         7/11/77     7  11    77
73  0         4/12/74     4  12    74
74  0        09/19/81    09  19    81
75  0          9/6/79     9   6    79
76  0         12/5/87    12   5    87
77  0      01/05/1999    01  05  1999
78  0         4/22/80     4  22    80
79  0        10/04/98    10  04    98
80  0         6/29/81     6  29    81
81  0         8/04/78     8  04    78
82  0       7/07/1974     7  07  1974
83  0      09/14/2000    09  14  2000
84  0         5/18/71     5  18    71
85  0       8/09/1981     8  09  1981
86  0         6/05/93     6  05    93
87  0          8/9/97     8   9    97
88  0         12/8/82    12   8    82
89  0         8/26/89     8  26    89
90  0        10/13/95    10  13    95
91  0         4/19/91     4  19    91
92  0      04/08/2004    04  08  2004
93  0         9/20/76     9  20    76
94  0      12/08/1990    12  08  1990
95  0       4/11/1974     4  11  1974
96  0         7/18/86     7  18    86
97  0         3/31/91     3  31    91
98  0         5/13/72     5  13    72
99  0        11/14/83    11  14    83
100 0         8/16/92     8  16    92
101 0        10/05/97    10  05    97
102 0      07/18/2002    07  18  2002
103 0         9/22/82     9  22    82
104 0         2/24/74     2  24    74
105 0         2/03/78     2  03    78
106 0       2/11/2006     2  11  2006
107 0         8/22/83     8  22    83
108 0         5/04/74     5  04    74
109 0       7/20/2011     7  20  2011
110 0         6/17/95     6  17    95
111 0         6/10/72     6  10    72
112 0        10/16/82    10  16    82
113 0        12/15/92    12  15    92
114 0         12/8/97    12   8    97
115 0         4/05/89     4  05    89
116 0        12/04/87    12  04    87
117 0         6/20/77     6  20    77
118 0       4/27/2006     4  27  2006
119 0        07/17/92    07  17    92
120 0        12/22/98    12  22    98
121 0        10/02/96    10  02    96
122 0        11/05/90    11  05    90
123 0         5/04/77     5  04    77
124 0         2/27/96     2  27    96

<div class='alert alert-block alert-success'>
Check for dates with only two of the three components
<li>6/2008; 12/2009 </li>
<li> Does not start with one or two digits, but has month with one or two digits and years with four digits </li>    
</div>

In [123]:
df_date_extracted_month_year = df['Text'].str.extractall(r'(?P<FullDate>(?P<Month>^[\d?\d]\d?\d)/(?P<Year>\d\d\d\d)\b)')

In [124]:
df_date_extracted_month_year['Day'] = '01'

In [125]:
df_date_extracted_month_year

          FullDate Month  Year Day
    match
345 0      10/1973    10  1973  01
348 0      12/2005    12  2005  01
353 0      10/1997    10  1997  01
360 0      12/2008    12  2008  01
363 0      12/1975    12  1975  01
375 0      06/1973    06  1973  01
390 0      08/1988    08  1988  01
404 0      10/1986    10  1986  01
406 0      12/1994    12  1994  01
413 0      11/2016    11  2016  01
429 0      11/1982    11  1982  01
430 0      06/1981    06  1981  01
434 0      10/1978    10  1978  01

<div class='alert alert-block alert-success'>
Check for dates with only year
<li>2008; 2009 </li>
<li> Word boundary followed by year </li>    
</div>

In [143]:
df_date_extracted_just_year = df['Text'].str.extractall(r'[ ]+(?P<Year>\d{4,4})\b')

In [146]:
df_date_extracted_just_year = df_date_extracted_just_year.assign(Day=1, Month=1) # 251
#df[df['Text'].str.contains('\\b'9079', regex=True)

In [147]:
df_date_extracted_just_year

           Year  Day  Month
    match
125 0      2001    1      1
126 0      2004    1      1
127 0      1982    1      1
128 0      2002    1      1
129 0      1972    1      1
130 0      1987    1      1
131 0      1996    1      1
132 0      2007    1      1
133 0      1994    1      1
134 0      1981    1      1
135 0      1985    1      1
136 0      1985    1      1
137 0      1983    1      1
138 0      1992    1      1
139 0      2012    1      1
140 0      1995    1      1
141 0      2016    1      1
142 0      1996    1      1
143 0      1992    1      1
144 0      2003    1      1
145 0      1999    1      1
146 0      2004    1      1
147 0      2001    1      1
148 0      1978    1      1
149 0      1989    1      1
150 0      1980    1      1
151 0      1990    1      1
152 0      2015    1      1
153 0      1972    1      1
154 0      1974    1      1
155 0      1974    1      1
156 0      1974    1      1
157 0      1990    1      1
158 0      2000    1      1
159 0      2001    1      1
160 0      2007    1      1
161 0      2016    1      1
162 0      1974    1      1
163 0      1994    1      1
164 0      1978    1      1
165 0      1975    1      1
166 0      1996    1      1
167 0      1979    1      1
168 0      1986    1      1
169 0      1995    1      1
170 0      2011    1      1
171 0      1972    1      1
172 0      1993    1      1
173 0      2006    1      1
174 0      1988    1      1
175 0      1983    1      1
176 0      2010    1      1
177 0      1990    1      1
178 0      1985    1      1
179 0      1982    1      1
180 0      1988    1      1
181 0      1995    1      1
182 0      1974    1      1
183 0      2008    1      1
184 0      2002    1      1
185 0      1985    1      1
186 0      2016    1      1
187 0      2008    1      1
188 0      2004    1      1
189 0      1977    1      1
190 0      2000    1      1
191 0      1972    1      1
192 0      1993    1      1
193 0      1995    1      1
194 0      1990    1      1
195 0      2001    1      1
196 0      1994    1      1
197 0      1981    1      1
198 0      2013    1      1
199 0      1986    1      1
200 0      1978    1      1
201 0      1999    1      1
202 0      1989    1      1
203 0      1995    1      1
204 0      1976    1      1
205 0      1983    1      1
206 0      1990    1      1
207 0      2004    1      1
208 0      2012    1      1
209 0      1983    1      1
210 0      1989    1      1
211 0      1992    1      1
212 0      1999    1      1
213 0      1997    1      1
214 0      1974    1      1
215 0      1981    1      1
216 0      1988    1      1
217 0      2011    1      1
218 0      1989    1      1
219 0      1975    1      1
220 0      2012    1      1
221 0      1980    1      1
222 0      1998    1      1
223 0      1974    1      1
224 0      1998    1      1
225 0      1972    1      1
226 0      1991    1      1
227 0      2011    1      1
228 0      1985    1      1
229 0      2011    1      1
230 0      1986    1      1
231 0      2016    1      1
232 0      1977    1      1
233 0      1990    1      1
234 0      2003    1      1
235 0      2015    1      1
236 0      1995    1      1
237 0      1976    1      1
238 0      1995    1      1
239 0      1978    1      1
240 0      2011    1      1
241 0      2004    1      1
242 0      2010    1      1
243 0      2012    1      1
244 0      2013    1      1
245 0      1990    1      1
246 0      1981    1      1
247 0      1983    1      1
248 0      1995    1      1
249 0      1993    1      1
250 0      2005    1      1
251 0      1998    1      1
252 0      2007    1      1
253 0      2016    1      1
254 0      1979    1      1
255 0      2014    1      1
256 0      1988    1      1
257 0      2015    1      1
258 0      1976    1      1
259 0      1979    1      1
260 0      2000    1      1
261 0      1986    1      1
262 0      2002    1      1
263 0      1981    1      1
264 0      2007    1      1
265 0      1989    1      1
266 0      1999    1      1
267 0      1980    1      1
268 0      2009    1      1
269 0      1992    1      1
270 0      2006    1      1
271 0      2008    1      1
272 0      1993    1      1
273 0      2010    1      1
274 0      1985    1      1
275 0      1984    1      1
276 0      1986    1      1
277 0      2007    1      1
278 0      1974    1      1
279 0      2013    1      1
280 0      1985    1      1
281 0      2004    1      1
282 0      2012    1      1
283 0      1977    1      1
284 0      1987    1      1
285 0      1983    1      1
286 0      2013    1      1
287 0      2010    1      1
288 0      2009    1      1
289 0      2007    1      1
290 0      2011    1      1
291 0      2004    1      1
292 0      1995    1      1
293 0      2008    1      1
294 0      1983    1      1
295 0      1983    1      1
296 0      1979    1      1
297 0      2009    1      1
298 0      1993    1      1
299 0      1974    1      1
300 0      1994    1      1
301 0      1992    1      1
302 0      2004    1      1
303 0      1977    1      1
304 0      2002    1      1
305 0      2000    1      1
306 0      2004    1      1
307 0      2006    1      1
308 0      1994    1      1
309 0      1977    1      1
310 0      1992    1      1
311 0      1995    1      1
312 0      1989    1      1
313 0      1978    1      1
314 0      2007    1      1
315 0      1976    1      1
316 0      2011    1      1
317 0      1975    1      1
318 0      1978    1      1
319 0      1975    1      1
320 0      2012    1      1
321 0      1999    1      1
322 0      1991    1      1
323 0      1973    1      1
324 0      1996    1      1
325 0      2007    1      1
326 0      1995    1      1
327 0      1999    1      1
328 0      2001    1      1
329 0      2000    1      1
330 0      1988    1      1
331 0      1993    1      1
332 0      1974    1      1
333 0      1997    1      1
334 0      1986    1      1
335 0      1973    1      1
336 0      1978    1      1
337 0      2007    1      1
338 0      1998    1      1
339 0      2005    1      1
340 0      1980    1      1
341 0      2007    1      1
342 0      1976    1      1
455 0      1984    1      1
456 0      2000    1      1
457 0      2001    1      1
458 0      1982    1      1
459 0      1998    1      1
460 0      2012    1      1
461 0      1991    1      1
463 0      2014    1      1
464 0      2016    1      1
465 0      1976    1      1
467 0      2011    1      1
468 0      1997    1      1
469 0      2003    1      1
471 0      1999    1      1
474 0      1972    1      1
475 0      2015    1      1
477 0      1994    1      1
479 0      1996    1      1
480 0      2013    1      1
482 0      1990    1      1
483 0      1995    1      1
484 0      2004    1      1
485 0      1987    1      1
486 0      1973    1      1
487 0      1992    1      1
488 0      1977    1      1
489 0      1985    1      1
490 0      2007    1      1
491 0      2009    1      1
492 0      1986    1      1
494 0      2002    1      1
498 0      2005    1      1
499 0      1980    1      1

In [41]:
# from dateutil.parser import parse
# from dateparser.search import search_dates
# # parse("Today is December 1, 2018", fuzzy_with_tokens=True)
 
# # parse("Today is Dec 1 2018", fuzzy_with_tokens=True)
 
# # parse("Today is Dec 1", fuzzy_with_tokens=True)

# def searchForDate(x):
# #     return parse(x, fuzzy_with_tokens=True)
#     return search_dates(x)


# df['Text'].apply(searchForDate)

In [ ]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here

In [ ]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

####  Find the number of characters for each string in df['text']

In [43]:

df = df.assign(text_length = df['text'].apply(len))

#### Find the number of tokens for each string in df['text']

In [44]:

# df.assign(split_text = df['text'].str.split())
df_expanded = df['text'].str.split(expand=True)

df_expanded

,0,1,2,3,4,5,6,7,8,9
0,Monday:,The,doctor's,appointment,is,at,2:45pm.,None,None,None
1,Tuesday:,The,dentist's,appointment,is,at,11:30,am.,None,None
2,Wednesday:,At,"7:00pm,",there,is,a,basketball,game!,None,None
3,Thursday:,Be,back,home,by,11:15,pm,at,the,latest.
4,Friday:,Take,the,train,at,08:10,"am,",arrive,at,09:00am.

####  Find which entries contain the word 'appointment'

In [47]:
df = df.assign(text_contains_appointment = df['text'].str.contains('appointment'))

####  Find how many times a digit occurs in each string

<div class="alert alert-block alert-success">
<h5>Two methods shown - One gets the count of digits and the other uses a powerful function "enumerate" to loop through the string . It allows us to loop over something and have an automatic counter.</h5>
</div>

In [50]:
df = df.assign(contains_digits = df['text'].str.count(r'\d'))

In [65]:
def indexOfDigit(text):
    return ({c: i  for i, c in enumerate(text) if c.isdigit()})
    
df['text'].apply(indexOfDigit)

0             {'2': 39, '4': 41, '5': 42}
1             {'1': 42, '3': 44, '0': 45}
2                      {'7': 14, '0': 17}
3                      {'1': 29, '5': 30}
4    {'0': 50, '8': 27, '1': 29, '9': 47}
Name: text, dtype: object

####  Find all occurances of the digits

In [67]:

df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

![alt Regexp](FIG3.png "Title")

In [78]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d?\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [71]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [79]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [81]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [82]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [83]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am