<div class="alert alert-block alert-info">
                                            Regular Expressions
    <p><a href= "https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html">Pandas documentation for text</a>
    <p><a href = 'https://www.analyticsvidhya.com/blog/2014/11/text-data-cleaning-steps-python/'> Analytics Vidhya Data Cleaning</a> 
    <p><a href = 'http://ieva.rocks/2016/08/07/cleaning-text-for-nlp/'> NLP Data Cleaning</a> 
        
</div>

In [ ]:
from IPython.display import Audio, Image, Video

In [ ]:
Image('FIG1.PNG', width=500, height=500)

In [ ]:
Image('FIG2.PNG', width=500, height=500)


<div class='alert alert-block alert-info'>
<li>[^] ( within [ ] ) is negation in regular expression whereas ^ is "begining of string"</li>

<li>[^a-z] matches any single character that is not from "a" to "z"</li>

<li>^[a-z] means string starts with from "a" to "z"</li>

</div>

In [ ]:
Video("RegEx.mp4", width=400, height=400)

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.iloc[0]

'03/25/93 Total time of visit (in minutes):\n'

In [2]:
pd.set_option('max_colwidth', 200)
pd.set_option('max_rows', 700)

In [3]:
df.shape
df.iloc[0:7]

0                        03/25/93 Total time of visit (in minutes):\n
1                                      6/18/85 Primary Care Doctor:\n
2            sshe plans to move as of 7/8/71 In-Home Services: None\n
3                               7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7\n
5                                   .Per 7/06/79 Movement D/O note:\n
6      4, 5/18/78 Patient's thoughts about current substance abuse:\n
dtype: object

<div class='alert alert-block alert-info'> 
The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates.
</div>

In [4]:
df = pd.DataFrame(df, columns=['Text'])

In [5]:
df.loc[0:100]

                                                                                                                                                                                                        Text
0                                                                                                                                                               03/25/93 Total time of visit (in minutes):\n
1                                                                                                                                                                             6/18/85 Primary Care Doctor:\n
2                                                                                                                                                   sshe plans to move as of 7/8/71 In-Home Services: None\n
3                                                                                                                                                                      7 on 9/27/75 Audit C Score Current:\n
4                                                                                                                                           2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7\n
5                                                                                                                                                                          .Per 7/06/79 Movement D/O note:\n
6                                                                                                                                             4, 5/18/78 Patient's thoughts about current substance abuse:\n
7                                                                                                                                               10/24/89 CPT Code: 90801 - Psychiatric Diagnosis Interview\n
8                                                                                                                                                                               3/7/86 SOS-10 Total Score:\n
9                                                                                                                                                                   (4/10/71)Score-1Audit C Score Current:\n
10                                                                                                (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC_12.6Activities of Daily Living (ADL) Bathing: Independent\n
11                                                                                                                                                                             4/09/75 SOS-10 Total Score:\n
12                                                                                                                                                   8/01/98 Communication with referring physician?: Done\n
13                                                                                                                                               1/26/72 Communication with referring physician?: Not Done\n
14                                                                                                                                                        5/24/1990 CPT Code: 90792: With medical services\n
15                                                                                                                                                        1/25/2011 CPT Code: 90792: With medical services\n
16                                                                                                                                                               4/12/82 Total time of visit (in minutes):\n
17                                                                                                                                                              1; 10/13/1976 Audit C Score, Highest/Date:\n
18                                                                                                                                                                       4, 4/24/98 Relevant Drug History:\n
19   ) 59 yo unemployed w referred by Urgent Care for psychiatric evaluation and follow up. The patient reports she has been dx w BAD. Her main complaint today is anergy. Ms. Hartman was evaluated on o...
20                                                                                                                                                               7/21/98 Total time of visit (in minutes):\n
21                                                                                                                                                                            10/21/79 SOS-10 Total Score:\n
22                                                                                                                                                          3/03/90 CPT Code: 90792: With medical services\n
23                                                                                                                                                          2/11/76 CPT Code: 90792: With medical services\n
24                                                                                                                                                         07/25/1984 CPT Code: 90791: No medical services\n
25                                                                                                                                                 4-13-82 Other Child Mental Health Outcomes Scales Used:\n
26                                                                                                                                                          9/22/89 CPT Code: 90792: With medical services\n
27                                                                                                                                                            9/02/76 CPT Code: 90791: No medical services\n
28                                                                                                                                                                                    9/12/71 [report_end]\n
29                                                                                                                                                  10/24/86 Communication with referring physician?: Done\n
30                                                                                                                                                            03/31/1985 Total time of visit (in minutes):\n
31                                                                                                                                                            7/20/72 CPT Code: 90791: No medical services\n
32                                                                                                                                                              4/12/87= 1, negativeAudit C Score Current:\n
33                                                                                                                                                              06/20/91 Total time of visit (in minutes):\n
34                                                                                                                                                                          5/12/2012 Primary Care Doctor:\n
35                                                                                                                                                                             3/15/83 SOS-10 Total Score:\n
36                                                                                                                                               2/14/73 CPT Code: 90801 - Psychiatric Diagnosis Interview\n
37                                                                                                                                                          5/24/88 CPT Code: 90792: With medical services\n
38                                                                                                                                                             7/27/1986 Total time of visit (in minutes):\n
39                                                                                                                                                   1-14-81 Communication with referring physician?: Done\n
40                                                                                                                                               7-29-75 CPT Code: 90801 - Psychiatric Diagnosis Interview\n
41                                                                                                                               (6/24/87) TSH-2.18; Activities of Daily Living (ADL) Bathing: Independent\n
42                                                                                                                                                                            8/14/94 Primary Care Doctor:\n
43                                                                                                                                                                          4/13/2002 Primary Care Doctor:\n
44                                                                                                                                                          8/16/82 CPT Code: 90792: With medical services\n
45                                                                                                                                                             2/15/1998 Total time of visit (in minutes):\n
46                                                                                                                                                          7/15/91 CPT Code: 90792: With medical services\n
47                                                                                                                                                                            06/12/94 SOS-10 Total Score:\n
48                                                                                                                                                   9/17/84 Communication with referring physician?: Done\n
49                                                                                                                                                 2/28/75 Other Adult Mental Health Outcomes Scales Used:\n
50                                                                                                                                                           sOP WPM - Dr. Romo-psychopharm since 11/22/75\n
51   "In the context of the patient's work up, she had Neuropsychological  testing 5/24/91.  She was referred because of her cognitive decline and symptoms of motor dysfunction to help characterize her...
52                                                                                                                                                            6/13/92 CPT Code: 90791: No medical services\n
53                                                                                                                                                                             7/11/71 SOS-10 Total Score:\n
54                                                                                                                                                           12/26/86 CPT Code: 90791: No medical services\n
55                                                                                                                                                         10/11/1987 CPT Code: 90791: No medical services\n
56                                                                                                                                                                            3/14/95 Primary Care Doctor:\n
57                                                                                                                                                           12/01/73 CPT Code: 90791: No medical services\n
58                                                                                                                                                                     0: 12/5/2010 Audit C Score Current:\n
59                                                                                                                                                                          08/20/1982 SOS-10 Total Score:\n
60                                                                                                                                                                             7/24/95 SOS-10 Total Score:\n
61                                                                                                                                                            8/06/83 CPT Code: 90791: No medical services\n
62                                                                                                                                                                            02/22/92 SOS-10 Total Score:\n
63                                                                                                                                                                 6/28/87 Impression Strengths/Abilities:\n
64                                                                                                                                                                              07/29/1994 CPT code: 99203\n
65                                                                                                                                              08/11/78 CPT Code: 90801 - Psychiatric Diagnosis Interview\n
66                                                                                                                                                  10/29/91 Communication with referring physician?: Done\n
67                                                                                                                                                                              7/6/91 SOS-10 Total Score:\n
68                                                                                                                                                                 onone as of 1/21/87 Protective Factors:\n
69   24 yo right handed woman with history of large right frontal mass s/p resection 11/3/1985 who had recent urgent R cranial wound revision and placement of L EVD for declining vision and increased d...
70                                                                                                                                               7/04/82 CPT Code: 90801 - Psychiatric Diagnosis Interview\n
71                                                                                                                                               4-13-89 Communication with referring physician?: Not Done\n
72   Lithium 0.25 (7/11/77).  LFTS wnl.  Urine tox neg.  Serum tox + fluoxetine 500; otherwise neg.  TSH 3.28.  BUN/Cr: 16/0.83.  Lipids unremarkable.  B12 363, Folate >20.  CBC: 4.9/36/308 Pertinent M...
73                                                                                                                                              4/12/74= 1Caffeine / Tobacco Use Caffeinated products: Yes\n
74                                                                                                                                                         09/19/81 CPT Code: 90792: With medical services\n
75                                                                                                                                                                             9/6/79 Primary Care Doctor:\n
76                                                                                                                                                               12/5/87 Total time of visit (in minutes):\n
77                                                                                                                                                                                 01/05/1999 [report_end]\n
78                                                                                                                                                                             4/22/80 SOS-10 Total Score:\n
79                                                                                                                                                                            10/04/98 SOS-10 Total Score:\n
80   .Mr. Echeverria described having panic-like experiences on at least three occasions. The first of these episodes occurred when facial meshing was placed on him during radiation therapy. He recalle...
81   . Wile taking additional history, pt endorsed moderate depression and anxiety last 2 weeks, even though her period was on 8/04/78. Pt then acknowledged low to moderate mood and anxiety symptoms th...
82                                                                                                                                              Death of mother; 7/07/1974 Meaningful activities/supports:\n
83                                                                                                                                                       09/14/2000 CPT Code: 90792: With medical services\n
84                                                                                                                                                               5/18/71 Total time of visit (in minutes):\n
85                                                                                                                                                 8/09/1981 Communication with referring physician?: Done\n
86                                                                                                                                                            6/05/93 CPT Code: 90791: No medical services\n
87            )Dilantin (PHENYTOIN) 100 MG CAPSULE Take 2 Capsule(s) PO HS; No Change (Taking Differently), Comments: decreased from 290 daily to 260 mg daily due to elevated phenytoin level from 8/9/97\n
88                                                                                                                                                                 12/8/82 Audit C=3Audit C Score Current:\n
89                                                                                                                                                            8/26/89 CPT Code: 90791: No medical services\n
90                                                                                                                                                           10/13/95 CPT Code: 90791: No medical services\n
91                                                                                                                                               4/19/91 Communication with referring physician?: Not Done\n
92                                                                                                       .APS - Psychiatry consult paged/requested in person at 04/08/2004 16:39 Patrick, Christian [hpp2]\n
93                                                                                                                                               9/20/76 CPT Code: 90801 - Psychiatric Diagnosis Interview\n
94                                                                                                                                                                          12/08/1990 @11 am [report_end]\n
95                                                                                                                                    4/11/1974 Chief Complaint / HPI Chief Complaint (Patients own words)\n

In [6]:
df_copy = df.copy()

## List of variations

<div class='alert alert-block alert-info'>
<li> 04/20/2009; 04/20/09; 4/20/09; 4/3/09</li>
<li> Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;</li>
<li> 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009</li>
<li> Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009</li>
<li> Feb 2009; Sep 2009; Oct 2010</li>
<li> 6/2008; 12/2009</li>
<li> 2009; 2010</li>
</div>

<div class='alert alert-block alert-danger'>
 <h3> Helper Functions</h3>
</div>

In [7]:
def removeIdentified(df_original, df_toremove):
    #Each index in created df is a tuple, the first element of this tuple is the index of the original table
    captured_index  = pd.Series([i[0] for i in df_toremove.index])
    print("Number removed: ", captured_index.shape)
    df_original = df_original[~df_original.index.isin(captured_index)]
    print("Number left : " ,df_original.shape)#(379, 2)
    return df_original


def adjustDayMonthYear(df_input):
    if 'Day' not in df_input.columns :
        df_input['Day'] = '01'
    if 'Month' not in df_input.columns:
        df_input['Month'] = '01'
    df_input['Year'].apply(lambda x: "19"+ x if len(x) == 2 else x)
    return df_input
    
def createFullDate(df_input):
    #Strip Month , year and date off , . -
    transTable = str.maketrans('', '', r',./')
    df_input['Day'] = df_input['Day'].str.translate(transTable)
    df_input['Month'] = df_input['Month'].str.translate(transTable)
    df_input['Year'] = df_input['Year'].str.translate(transTable)
    df_input['FullDate'] = df_input['Year'] +'-' + df_input['Month']+ '-'+df_input['Day']
    df_input['FullDate'] = pd.to_datetime(df_input['FullDate'])
    df_input = df_input[['FullDate', 'Day', 'Month', 'Year']]
    return df_input

def getDFdetails(df_input):
    print(df_input.name)
    print(df_input.shape)
    print(df_input.head())

<div class='alert alert-block alert-success'>
    <h3> Procedure 1 </h3>
    Check for dates with all three components
    <li> 04/20/2009; 04/20/09; 4/20/09; 4/3/09, 1-14-81 </li>
</div>

In [8]:
df_extract_numerical = df_copy['Text'].str.extractall(r'(?P<FullDate>(?P<Month>\d?\d)[/-](?P<Day>\d?\d)[/-](?P<Year>\d?\d?\d\d))')

#check for year equal to three digits
#df_numerical[(df_numerical['Year'].str.len() == 3)]
#72	1	9/36/308	9	36	

# This is the CBC count and so drop these
#df_copy[df_copy['Text'].str.contains('9/36/308')]

#Remove  if dates year is NOT 2 digits or is not 4 digits
df_extract_numerical = df_extract_numerical[(df_extract_numerical['Year'].str.len() == 2) | (df_extract_numerical['Year'].str.len() == 4)]
df_extract_numerical.name = 'df_extract_numerical'
#df_copy.iloc[106]

In [9]:
getDFdetails(df_extract_numerical)

df_extract_numerical
(125, 4)
         FullDate Month Day Year
  match
0 0      03/25/93    03  25   93
1 0       6/18/85     6  18   85
2 0        7/8/71     7   8   71
3 0       9/27/75     9  27   75
4 0        2/6/96     2   6   96

<div class='alert alert-block alert-warning'>
 <li> Reduce the size of the original dataframe by the identified rows  </li> 
</div>

In [10]:
df_copy = removeIdentified(df_copy,df_extract_numerical)

Number removed:  (125,)
Number left :  (375, 1)

<div class='alert alert-block alert-success'>
        <h3> Procedure 2 </h3>
        <li> Looking for months spelled out  </li>  
<li> Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009; </li>
</div>

In [11]:
from calendar import month_name

patternlist =  ["(" + a[0:3]+"(" + a[3:] + "|.)?,?)" if len(a) > 3 else a for a in month_name ]
patternlist = patternlist[1:]
totalpattern = "|".join(patternlist) 
#print(patternlist)
print(totalpattern)

(Jan(uary|.)?,?)|(Feb(ruary|.)?,?)|(Mar(ch|.)?,?)|(Apr(il|.)?,?)|May|(Jun(e|.)?,?)|(Jul(y|.)?,?)|(Aug(ust|.)?,?)|(Sep(tember|.)?,?)|(Oct(ober|.)?,?)|(Nov(ember|.)?,?)|(Dec(ember|.)?,?)

In [12]:
df_extract_monthname = df_copy['Text'].str.extractall(r'(?P<FullDate>(?P<Month>(Jan(?:uary|.)?,?)|(Feb(?:ruary|.)?,?)|(Mar(?:ch|.)?,?)|(Apr(?:il|.)?,?)|May|(Jun(?:e|.)?,?)|(Jul(?:y|.)?,?)|(Aug(?:ust|.)?,?)|(Sep(?:tember|.)?,?)|(Oct(?:ober|.)?,?)|(Nov(?:ember|.)?,?)|(Dec(?:ember|.)?,?))[\s-](?P<Day>\d?\d),?[\s-](?P<Year>\d\d\d\d))')
df_extract_monthname.name = 'df_extract_monthname'

In [13]:
getDFdetails(df_extract_monthname)

df_extract_monthname
(32, 15)
                    FullDate     Month    2         3    4      5    6    7  \
    match
194 0         April 11, 1990     April  NaN       NaN  NaN  April  NaN  NaN
195 0           May 30, 2001       May  NaN       NaN  NaN    NaN  NaN  NaN
196 0           Feb 18, 1994       Feb  NaN       Feb  NaN    NaN  NaN  NaN
197 0      February 18, 1981  February  NaN  February  NaN    NaN  NaN  NaN
199 0            Jan 24 1986       Jan  Jan       NaN  NaN    NaN  NaN  NaN

             8    9   10   11   12 Day  Year
    match
194 0      NaN  NaN  NaN  NaN  NaN  11  1990
195 0      NaN  NaN  NaN  NaN  NaN  30  2001
196 0      NaN  NaN  NaN  NaN  NaN  18  1994
197 0      NaN  NaN  NaN  NaN  NaN  18  1981
199 0      NaN  NaN  NaN  NaN  NaN  24  1986

<div class='alert alert-block alert-warning'>
<li>Reduce the size of the original dataframe by the identified rows  </li>  
</div>

In [14]:
df_copy = removeIdentified(df_copy,df_extract_monthname)

Number removed:  (32,)
Number left :  (343, 1)

<div class='alert alert-block alert-success'>
    <h3> Procedure 3 </h3>
    <li> Retrieve these : 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009</li>
</div>

In [15]:
df_extract_monthname_middle = df_copy['Text'].str.extractall(r'(?P<FullDate>(?P<Day>\d?\d)\s(?P<Month>(Jan(?:uary|.)?,?)|(Feb(?:ruary|.)?,?)|(Mar(?:ch|.)?,?)|(Apr(?:il|.)?,?)|May|(Jun(?:e|.)?,?)|(Jul(?:y|.)?,?)|(Aug(?:ust|.)?,?)|(Sep(?:tember|.)?,?)|(Oct(?:ober|.)?,?)|(Nov(?:ember|.)?,?)|(Dec(?:ember|.)?,?))[\s-](?P<Year>\d\d\d\d))')
df_extract_monthname_middle.name = 'df_extract_monthname_middle'

In [16]:
getDFdetails(df_extract_monthname_middle)

df_extract_monthname_middle
(69, 15)
               FullDate Day Month    3    4    5    6     7    8    9   10  \
    match
125 0       24 Jan 2001  24   Jan  Jan  NaN  NaN  NaN   NaN  NaN  NaN  NaN
126 0       10 Sep 2004  10   Sep  NaN  NaN  NaN  NaN   NaN  NaN  NaN  Sep
127 0       26 May 1982  26   May  NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN
128 0      28 June 2002  28  June  NaN  NaN  NaN  NaN  June  NaN  NaN  NaN
129 0       06 May 1972  06   May  NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN

            11   12   13  Year
    match
125 0      NaN  NaN  NaN  2001
126 0      NaN  NaN  NaN  2004
127 0      NaN  NaN  NaN  1982
128 0      NaN  NaN  NaN  2002
129 0      NaN  NaN  NaN  1972

<div class='alert alert-block alert-warning'>
   Reduce the size of the original dataframe by the identified rows
</div>

In [17]:
df_copy = removeIdentified(df_copy,df_extract_monthname_middle)

Number removed:  (69,)
Number left :  (274, 1)

<div class='alert alert-block alert-success'>
Check for dates with only two of the three components
    <h3> Procedure 4 </h3>
    <li>Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009</li>
<li> Does not start with one or two digits, but has month with one or two digits and years with four digits </li>    
</div>

In [ ]:
# print(df_copy[df_copy['Text'].str.contains('\d?\dth', regex=True)])
# print(df_copy[df_copy['Text'].str.contains('\d?\dst', regex=True)])
# print(df_copy[df_copy['Text'].str.contains('\d?\dth', regex=True)])

# pd.set_option('max_colwidth', 1000)

In [18]:
df_extract_datequalifier = df_copy['Text'].str.extractall(r'(?P<FullDate>(?P<Month>(Jan(?:uary|.)?,?)|(Feb(?:ruary|.)?,?)|(Mar(?:ch|.)?,?)|(Apr(?:il|.)?,?)|May|(Jun(?:e|.)?,?)|(Jul(?:y|.)?,?)|(Aug(?:ust|.)?,?)|(Sep(?:tember|.)?,?)|(Oct(?:ober|.)?,?)|(Nov(?:ember|.)?,?)|(Dec(?:ember|.)?,?))\s(?P<Day>\d?\d(?:nd|st|th|rd),)\s(?P<Year>\d\d\d\d))')
df_extract_datequalifier.name = 'df_extract_datequalifier'

In [19]:
getDFdetails(df_extract_datequalifier)

df_extract_datequalifier
(0, 15)
Empty DataFrame
Columns: [FullDate, Month, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, Day, Year]
Index: []

<div class='alert alert-block alert-warning'>
   Reduce the size of the original dataframe by the identified rows
</div>

In [ ]:
#df_copy = removeIdentified(df_copy,df_datequalifier)

<div class='alert alert-block alert-success'>

<h3>Procedure 5</h3>
<li>Check for dates with only two of the three components</li>
<li>Feb 2009; Sep 2009; Oct 2010</li>
<li>Does not start with one or two digits, but has month with one or two digits and years with four digits</li>
</div>

In [20]:
df_copy.shape

(274, 1)

In [21]:
df_extract_monthyear = df_copy['Text'].str.extractall(r'(?P<FullDate>(?P<Month>Jan\s|Feb\s|Mar\s|Apr\s|May\s|Jun\s|Jul\s|Aug\s|Sep\s|Oct\s|Nov\s|Dec\s)(?P<Year>\d\d\d\d))')
df_extract_monthyear.name = 'df_extract_monthyear'

In [22]:
getDFdetails(df_extract_monthyear)

df_extract_monthyear
(47, 3)
           FullDate Month  Year
    match
230 0      May 1986  May   1986
231 0      May 2016  May   2016
234 0      Jul 2003  Jul   2003
235 0      Oct 2015  Oct   2015
236 0      May 1995  May   1995

<div class='alert alert-block alert-warning'>
   Reduce the size of the original dataframe by the identified rows
</div>

In [23]:
df_copy = removeIdentified(df_copy,df_extract_monthyear)

Number removed:  (47,)
Number left :  (227, 1)

<div class='alert alert-block alert-success'>
<h3>Procedure 6 </h3>
<li>Check for dates with only two of the three components</li>
<li>    6/2008; 12/2009</li>
<li>Does not start with one or two digits, but has month with one or two digits and years with four digits</li>
</div>

In [24]:
df_extract_numerical_month_year = df_copy['Text'].str.extractall(r'(?P<FullDate>(?P<Month>\b\d?\d)\/(?P<Year>\d\d\d\d)\b)')
df_extract_numerical_month_year.name = 'df_extract_numerical_month_year'

In [25]:
getDFdetails(df_extract_numerical_month_year)

df_extract_numerical_month_year
(110, 3)
          FullDate Month  Year
    match
343 0       6/1998     6  1998
344 0       6/2005     6  2005
345 0      10/1973    10  1973
346 0       9/2005     9  2005
347 0      03/1980    03  1980

<div class='alert alert-block alert-warning'>
   Reduce the size of the original dataframe by the identified rows
</div>

In [26]:
df_copy = removeIdentified(df_copy,df_extract_numerical_month_year)

Number removed:  (110,)
Number left :  (117, 1)


<div class='alert alert-block alert-success'>
    <h3> Procedure 7 </h3>
    <li>Check for dates with only year</li>
<li>2008; 2009 </li>
<li> Word boundary followed by year </li>    
</div>

In [27]:
df_extract_just_year = df_copy['Text'].str.extractall(r'(?P<Year>\d{4,4})[^\d]?')
df_extract_just_year = df_extract_just_year[df_extract_just_year['Year'] < '3000']
df_extract_just_year.name = 'df_extract_just_year'
getDFdetails(df_extract_just_year)

df_extract_just_year
(117, 1)
           Year
    match
198 0      2013
227 0      2011
228 0      1985
229 0      2011
232 0      1977

<div class='alert alert-block alert-warning'>
   Reduce the size of the original dataframe by the identified rows
</div>

In [28]:
df_copy = removeIdentified(df_copy,df_extract_just_year)

Number removed:  (117,)
Number left :  (0, 1)

In [29]:
listDF = %who_ls DataFrame
#Get the list of dataframe create and clean them up
names = [dfName for dfName in listDF if "extract" in dfName]
print(names)

# for name in names:
#      return_df = adjustDayMonthYear(df_extract_dict[name])
#      return_df = createFullDate(return_df)
#      df_extract_dict[name] = return_df   
#      df_extract_dict[name].reset_index(inplace=True) 
#      df_extract_dict[name].rename(columns={'level_0':'OriginalIndex'}, inplace=True)
        
# for name in names:
#     adjustDayMonthYear(df_extract_dict[name])
#     createFullDate(df_extract_dict[name])
    
df_extract_just_year = adjustDayMonthYear(df_extract_just_year) 
df_extract_monthname= adjustDayMonthYear(df_extract_monthname)    
df_extract_monthname_middle = adjustDayMonthYear(df_extract_monthname_middle)    
df_extract_monthyear = adjustDayMonthYear(df_extract_monthyear)    
df_extract_numerical= adjustDayMonthYear(df_extract_numerical)    
df_extract_numerical_month_year = adjustDayMonthYear(df_extract_numerical_month_year)    
   
df_extract_just_year = createFullDate(df_extract_just_year) 
df_extract_monthname = createFullDate(df_extract_monthname)    
df_extract_monthname_middle = createFullDate(df_extract_monthname_middle)    
df_extract_monthyear = createFullDate(df_extract_monthyear)    
df_extract_numerical = createFullDate(df_extract_numerical)    
df_extract_numerical_month_year = createFullDate(df_extract_numerical_month_year)

['df_extract_datequalifier', 'df_extract_just_year', 'df_extract_monthname', 'df_extract_monthname_middle', 'df_extract_monthyear', 'df_extract_numerical', 'df_extract_numerical_month_year']

In [47]:
#Alternative
#output = output.append(df5[~df5.level_0.isin(output.level_0)])
    
    
new_df = pd.concat([df_extract_just_year, df_extract_monthname, df_extract_monthname_middle, df_extract_monthyear, df_extract_numerical, df_extract_numerical_month_year])

new_df.sort_index(inplace=True)
  
new_df1 = new_df.reset_index()
new_df1 = new_df1.sort_values(["FullDate", "level_0"]).reset_index(drop=True)
  
new_df1.level_0

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     323
16     335
17     486
18     415
19      36
20     405
21     422
22     375
23     380
24     345
25      57
26     278
27     299
28     332
29     481
30     436
31     104
32     162
33     154
34     402
35      95
36      73
37     108
38     156
39     182
40      82
41     351
42     214
43     155
44     223
45     317
46     319
47     473
48      49
49      11
50      40
51     418
52     165
53     370
54     382
55       3
56      50
57     363
58     219
59     237
60     342
61     465
62      23
63     204
64     258
65     315
66      27
67      93
68      17
69     232
70     303
71     309
72     488
73     283
74     395
75     419
76     123
77      19
78     117
79      72
80     189
81     313
82     318
83     336
84     369
85     493
86     239
87     148
88     105
89       6
90     200
91      81
92      65
93     434
94     164
95     378
96     254
97     495
98     424
99     398
100      5
101    296
102     75
103    167
104     21
105    259
106    499
107    347
108    150
109     78
110    340
111    441
112    267
113    361
114    221
115    246
116    263
117    466
118     39
119    134
120    197
121    355
122    430
123     80
124    444
125     85
126    215
127     74
128    403
129    458
130     16
131     25
132    127
133    454
134     70
135     44
136     59
137    103
138    112
139    429
140     88
141    179
142    294
143    295
144    358
145    470
146    205
147    397
148    137
149     35
150    438
151    247
152    209
153     61
154    107
155    285
156    175
157     99
158    275
159    455
160     24
161    421
162     48
163    426
164    228
165    274
166    280
167    489
168    136
169     30
170     10
171    178
172      1
173    447
174    185
175    135
176     69
177    276
178    334
179    492
180    199
181    352
182      8
183    230
184     96
185     38
186    368
187    261
188    404
189    168
190     29
191    437
192    423
193     54
194    284
195    485
196     68
197     32
198    349
199     41
200     63
201    416
202     55
203    130
204    116
205     76
206    330
207    462
208     37
209    256
210    390
211    216
212    174
213    180
214    265
215    312
216    476
217    115
218     71
219    218
220    202
221    440
222    385
223    373
224    210
225     89
226    149
227     26
228      7
229    435
230    233
231    245
232    482
233    177
234    157
235    412
236     22
237    194
238     14
239    151
240    206
241    122
242     94
243    322
244    461
245    226
246     97
247     91
248     51
249     33
250    453
251     67
252     46
253     66
254    269
255    399
256    487
257    138
258     62
259    211
260     52
261    119
262    100
263    442
264    310
265    143
266    301
267    113
268    249
269    298
270    331
271    478
272    272
273    354
274      0
275    192
276     86
277    172
278    357
279    300
280    450
281    477
282    163
283    308
284    196
285     47
286    133
287    359
288     64
289     42
290    409
291    406
292    238
293    248
294    292
295    311
296    326
297    483
298    193
299    140
300    388
301     56
302    236
303    372
304    110
305     60
306    181
307    203
308     90
309    169
310    324
311    479
312    142
313      4
314    124
315    121
316    131
317    166
318    333
319    468
320    365
321    213
322     87
323    353
324    101
325    114
326    251
327    338
328    459
329     45
330     18
331    222
332    343
333     20
334    224
335     12
336     79
337    387
338    120
339    266
340    321
341    327
342    471
343     77
344    376
345    432
346    384
347    212
348    407
349    145
350    201
351    260
352    329
353    456
354    305
355    420
356    392
357    417
358    190
359    158
360    443
361     83
362    374
363    328
364    457
365    125
366    159
367    147
368    195
369    377
370    367
371    394
372    494
373    304
374    446
375     43
376    262
377    128
378    102
379    449
380    184
381    469
382    452
383    234
384    362
385    356
386    144
387    291
388    302
389    306
390    414
391    484
392    188
393     92
394    241
395    350
396    425
397    281
398    207
399    126
400    146
401    451
402    339
403    498
404    250
405    344
406    346
407    348
408    270
409    307
410    496
411    106
412    118
413    433
414    173
415    252
416    264
417    314
418    410
419    428
420    490
421    277
422    391
423    325
424    289
425    160
426    341
427    132
428    337
429    271
430    293
431    445
432    497
433    187
434    183
435    396
436    400
437    360
438    288
439    297
440    371
441    491
442    389
443    386
444    379
445    268
446    273
447    472
448    287
449    448
450    176
451    411
452    408
453    242
454    364
455     58
456    227
457    229
458    240
459    290
460    467
461    170
462     15
463    316
464    217
465    109
466    320
467    460
468    393
469    282
470     34
471    220
472    208
473    243
474    139
475    383
476    198
477    244
478    286
479    480
480    431
481    279
482    381
483    463
484    366
485    255
486    439
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    231
495    427
496    141
497    186
498    161
499    413
Name: level_0, dtype: int64

In [46]:
new_df1

     level_0  match   FullDate Day      Month  Year
0          9      0 1971-04-10  10          4    71
1         84      0 1971-05-18  18          5    71
2          2      0 1971-07-08   8          7    71
3         53      0 1971-07-11  11          7    71
4         28      0 1971-09-12  12          9    71
5        474      0 1972-01-01  01         01  1972
6        153      0 1972-01-13  13        Jan  1972
7         13      0 1972-01-26  26          1    72
8        129      0 1972-05-06  06        May  1972
9         98      0 1972-05-13  13          5    72
10       111      0 1972-06-10  10          6    72
11       225      0 1972-06-15  15       June  1972
12        31      0 1972-07-20  20          7    72
13       171      0 1972-10-04  04        Oct  1972
14       191      0 1972-11-30  30        Nov  1972
15       323      0 1973-01-01  01         01  1973
16       335      0 1973-01-01  01         01  1973
17       486      0 1973-01-01  01         01  1973
18       415      0 1973-02-01  01          2  1973
19        36      0 1973-02-14  14          2    73
20       405      0 1973-03-01  01         03  1973
21       422      0 1973-04-01  01          4  1973
22       375      0 1973-06-01  01         06  1973
23       380      0 1973-07-01  01          7  1973
24       345      0 1973-10-01  01         10  1973
25        57      0 1973-12-01  01         12    73
26       278      0 1974-01-01  01         01  1974
27       299      0 1974-01-01  01         01  1974
28       332      0 1974-01-01  01         01  1974
29       481      0 1974-01-01  01         01  1974
30       436      0 1974-02-01  01          2  1974
31       104      0 1974-02-24  24          2    74
32       162      0 1974-03-05  05        Mar  1974
33       154      0 1974-03-06  06        Mar  1974
34       402      0 1974-04-01  01          4  1974
35        95      0 1974-04-11  11          4  1974
36        73      0 1974-04-12  12          4    74
37       108      0 1974-05-04  04          5    74
38       156      0 1974-05-26  26        May  1974
39       182      0 1974-06-13  13       June  1974
40        82      0 1974-07-07  07          7  1974
41       351      0 1974-08-01  01          8  1974
42       214      0 1974-09-10  10        Sep  1974
43       155      0 1974-10-10  10        Oct  1974
44       223      0 1974-10-14  14    October  1974
45       317      0 1975-01-01  01         01  1975
46       319      0 1975-01-01  01         01  1975
47       473      0 1975-01-01  01         01  1975
48        49      0 1975-02-28  28          2    75
49        11      0 1975-04-09  09          4    75
50        40      0 1975-07-29  29          7    75
51       418      0 1975-08-01  01          8  1975
52       165      0 1975-08-18  18     August  1975
53       370      0 1975-09-01  01          9  1975
54       382      0 1975-09-01  01         09  1975
55         3      0 1975-09-27  27          9    75
56        50      0 1975-11-22  22         11    75
57       363      0 1975-12-01  01         12  1975
58       219      0 1975-12-14  14        Dec  1975
59       237      0 1976-01-01  01         01  1976
60       342      0 1976-01-01  01         01  1976
61       465      0 1976-01-01  01         01  1976
62        23      0 1976-02-11  11          2    76
63       204      0 1976-03-10  10        Mar  1976
64       258      0 1976-04-01  01       Apr   1976
65       315      0 1976-06-01  01       Jun   1976
66        27      0 1976-09-02  02          9    76
67        93      0 1976-09-20  20          9    76
68        17      0 1976-10-13  13         10  1976
69       232      0 1977-01-01  01         01  1977
70       303      0 1977-01-01  01         01  1977
71       309      0 1977-01-01  01         01  1977
72       488      0 1977-01-01  01         01  1977
73       283      0 1977-02-01  01       Feb   1977
74       395      0 1977-02-01  01          2  1977
75       419      0 1977-05-01  01          5  1977
76       123      0 1977-05-04  04          5    77
77        19      0 1977-05-21  21          5    77
78       117      0 1977-06-20  20          6    77
79        72      0 1977-07-11  11          7    77
80       189      0 1977-10-21  21        Oct  1977
81       313      0 1978-01-01  01         01  1978
82       318      0 1978-01-01  01       Jan   1978
83       336      0 1978-01-01  01         01  1978
84       369      0 1978-01-01  01          1  1978
85       493      0 1978-01-01  01         01  1978
86       239      0 1978-02-01  01       Feb   1978
87       148      0 1978-02-02  02        Feb  1978
88       105      0 1978-02-03  03          2    78
89         6      0 1978-05-18  18          5    78
90       200      0 1978-07-26  26       July  1978
91        81      0 1978-08-04  04          8    78
92        65      0 1978-08-11  11         08    78
93       434      0 1978-10-01  01         10  1978
94       164      0 1978-10-21  21        Oct  1978
95       378      0 1978-12-01  01         12  1978
96       254      0 1979-01-01  01         01  1979
97       495      0 1979-01-01  01         01  1979
98       424      0 1979-04-01  01          4  1979
99       398      0 1979-05-01  01          5  1979
100        5      0 1979-07-06  06          7    79
101      296      0 1979-08-01  01       Aug   1979
102       75      0 1979-09-06   6          9    79
103      167      0 1979-10-01  01        Oct  1979
104       21      0 1979-10-21  21         10    79
105      259      0 1979-11-01  01       Nov   1979
106      499      0 1980-01-01  01         01  1980
107      347      0 1980-03-01  01         03  1980
108      150      0 1980-03-12  12      March  1980
109       78      0 1980-04-22  22          4    80
110      340      0 1980-05-01  01       May   1980
111      441      0 1980-09-01  01          9  1980
112      267      0 1980-10-01  01       Oct   1980
113      361      0 1980-10-01  01         10  1980
114      221      0 1980-10-18  18        Oct  1980
115      246      0 1981-01-01  01         01  1981
116      263      0 1981-01-01  01         01  1981
117      466      0 1981-01-01  01         01  1981
118       39      0 1981-01-14  14          1    81
119      134      0 1981-01-14  14        Jan  1981
120      197      0 1981-02-18  18   February  1981
121      355      0 1981-03-01  01          3  1981
122      430      0 1981-06-01  01         06  1981
123       80      0 1981-06-29  29          6    81
124      444      0 1981-07-01  01          7  1981
125       85      0 1981-08-09  09          8  1981
126      215      0 1981-08-14  14     August  1981
127       74      0 1981-09-19  19         09    81
128      403      0 1981-10-01  01         10  1981
129      458      0 1982-01-01  01         01  1982
130       16      0 1982-04-12  12          4    82
131       25      0 1982-04-13  13          4    82
132      127      0 1982-05-26  26        May  1982
133      454      0 1982-07-01  01          7  1982
134       70      0 1982-07-04  04          7    82
135       44      0 1982-08-16  16          8    82
136       59      0 1982-08-20  20         08  1982
137      103      0 1982-09-22  22          9    82
138      112      0 1982-10-16  16         10    82
139      429      0 1982-11-01  01         11  1982
140       88      0 1982-12-08   8         12    82
141      179      0 1982-12-10  10        Dec  1982
142      294      0 1983-01-01  01         01  1983
143      295      0 1983-01-01  01         01  1983
144      358      0 1983-01-01  01          1  1983
145      470      0 1983-01-01  01         01  1983
146      205      0 1983-01-27  27        Jan  1983
147      397      0 1983-02-01  01          2  1983
148      137      0 1983-02-10  10        Feb  1983
149       35      0 1983-03-15  15          3    83
150      438      0 1983-04-01  01          4  1983
151      247      0 1983-05-01  01       May   1983
152      209      0 1983-07-25  25       July  1983
153       61      0 1983-08-06  06          8    83
154      107      0 1983-08-22  22          8    83
155      285      0 1983-09-01  01       Sep   1983
156      175      0 1983-10-21  21        Oct  1983
157       99      0 1983-11-14  14         11    83
158      275      0 1984-01-01  01         01  1984
159      455      0 1984-01-01  01         01  1984
160       24      0 1984-07-25  25         07  1984
161      421      0 1984-09-01  01          9  1984
162       48      0 1984-09-17  17          9    84
163      426      0 1984-11-01  01         11  1984
164      228      0 1985-01-01  01         01  1985
165      274      0 1985-01-01  01         01  1985
166      280      0 1985-01-01  01         01  1985
167      489      0 1985-01-01  01         01  1985
168      136      0 1985-02-11  11   February  1985
169       30      0 1985-03-31  31         03  1985
170       10      0 1985-05-11  11          5    85
171      178      0 1985-06-15  15        Jun  1985
172        1      0 1985-06-18  18          6    85
173      447      0 1985-07-01  01          7  1985
174      185      0 1985-08-17  17        Aug  1985
175      135      0 1985-10-10  10        Oct  1985
176       69      0 1985-11-03   3         11  1985
177      276      0 1986-01-01  01         01  1986
178      334      0 1986-01-01  01         01  1986
179      492      0 1986-01-01  01         01  1986
180      199      0 1986-01-24  24        Jan  1986
181      352      0 1986-03-01  01          3  1986
182        8      0 1986-03-07   7          3    86
183      230      0 1986-05-01  01       May   1986
184       96      0 1986-07-18  18          7    86
185       38      0 1986-07-27  27          7  1986
186      368      0 1986-08-01  01          8  1986
187      261      0 1986-10-01  01       Oct   1986
188      404      0 1986-10-01  01         10  1986
189      168      0 1986-10-13  13        Oct  1986
190       29      0 1986-10-24  24         10    86
191      437      0 1986-11-01  01         11  1986
192      423      0 1986-12-01  01         12  1986
193       54      0 1986-12-26  26         12    86
194      284      0 1987-01-01  01       Jan   1987
195      485      0 1987-01-01  01         01  1987
196       68      0 1987-01-21  21          1    87
197       32      0 1987-04-12  12          4    87
198      349      0 1987-05-01  01          5  1987
199       41      0 1987-06-24  24          6    87
200       63      0 1987-06-28  28          6    87
201      416      0 1987-07-01  01          7  1987
202       55      0 1987-10-11  11         10  1987
203      130      0 1987-10-25  25        Oct  1987
204      116      0 1987-12-04  04         12    87
205       76      0 1987-12-05   5         12    87
206      330      0 1988-01-01  01         01  1988
207      462      0 1988-01-01  01         01  1988
208       37      0 1988-05-24  24          5    88
209      256      0 1988-08-01  01       Aug   1988
210      390      0 1988-08-01  01         08  1988
211      216      0 1988-11-11  11        Nov  1988
212      174      0 1988-12-04  04        Dec  1988
213      180      0 1988-12-09  09        Dec  1988
214      265      0 1989-01-01  01         01  1989
215      312      0 1989-01-01  01         01  1989
216      476      0 1989-01-01  01         01  1989
217      115      0 1989-04-05  05          4    89
218       71      0 1989-04-13  13          4    89
219      218      0 1989-05-14  14        May  1989
220      202      0 1989-05-15  15        May  1989
221      440      0 1989-06-01  01          6  1989
222      385      0 1989-07-01  01          7  1989
223      373      0 1989-08-01  01          8  1989
224      210      0 1989-08-11  11     August  1989
225       89      0 1989-08-26  26          8    89
226      149      0 1989-09-09  09        Sep  1989
227       26      0 1989-09-22  22          9    89
228        7      0 1989-10-24  24         10    89
229      435      0 1989-12-01  01         12  1989
230      233      0 1990-01-01  01         01  1990
231      245      0 1990-01-01  01         01  1990
232      482      0 1990-01-01  01         01  1990
233      177      0 1990-01-18  18        Jan  1990
234      157      0 1990-02-10  10        Feb  1990
235      412      0 1990-03-01  01         03  1990
236       22      0 1990-03-03  03          3    90
237      194      0 1990-04-11  11      April  1990
238       14      0 1990-05-24  24          5  1990
239      151      0 1990-06-22  22       June  1990
240      206      0 1990-10-23  23    October  1990
241      122      0 1990-11-05  05         11    90
242       94      0 1990-12-08  08         12  1990
243      322      0 1991-01-01  01         01  1991
244      461      0 1991-01-01  01         01  1991
245      226      0 1991-01-07  07    January  1991
246       97      0 1991-03-31  31          3    91
247       91      0 1991-04-19  19          4    91
248       51      0 1991-05-24  24          5    91
249       33      0 1991-06-20  20         06    91
250      453      0 1991-07-01  01          7  1991
251       67      0 1991-07-06   6          7    91
252       46      0 1991-07-15  15          7    91
253       66      0 1991-10-29  29         10    91
254      269      0 1992-01-01  01         01  1992
255      399      0 1992-01-01  01          1  1992
256      487      0 1992-01-01  01         01  1992
257      138      0 1992-02-05  05        Feb  1992
258       62      0 1992-02-22  22         02    92
259      211      0 1992-04-17  17      April  1992
260       52      0 1992-06-13  13          6    92
261      119      0 1992-07-17  17         07    92
262      100      0 1992-08-16  16          8    92
263      442      0 1992-09-01  01          9  1992
264      310      0 1992-10-01  01       Oct   1992
265      143      0 1992-10-14  14        Oct  1992
266      301      0 1992-12-01  01       Dec   1992
267      113      0 1992-12-15  15         12    92
268      249      0 1993-01-01  01         01  1993
269      298      0 1993-01-01  01         01  1993
270      331      0 1993-01-01  01         01  1993
271      478      0 1993-01-01  01         01  1993
272      272      0 1993-02-01  01       Feb   1993
273      354      0 1993-03-01  01          3  1993
274        0      0 1993-03-25  25         03    93
275      192      0 1993-05-06  06        May  1993
276       86      0 1993-06-05  05          6    93
277      172      0 1993-08-23  23        Aug  1993
278      357      0 1993-10-01  01         10  1993
279      300      0 1994-01-01  01         01  1994
280      450      0 1994-01-01  01          1  1994
281      477      0 1994-01-01  01         01  1994
282      163      0 1994-01-29  29        Jan  1994
283      308      0 1994-02-01  01       Feb   1994
284      196      0 1994-02-18  18        Feb  1994
285       47      0 1994-06-12  12         06    94
286      133      0 1994-06-28  28       June  1994
287      359      0 1994-07-01  01          7  1994
288       64      0 1994-07-29  29         07  1994
289       42      0 1994-08-14  14          8    94
290      409      0 1994-10-01  01         10  1994
291      406      0 1994-12-01  01         12  1994
292      238      0 1995-01-01  01         01  1995
293      248      0 1995-01-01  01         01  1995
294      292      0 1995-01-01  01         01  1995
295      311      0 1995-01-01  01         01  1995
296      326      0 1995-01-01  01         01  1995
297      483      0 1995-01-01  01         01  1995
298      193      0 1995-01-18  18        Jan  1995
299      140      0 1995-02-14  14        Feb  1995
300      388      0 1995-03-01  01          3  1995
301       56      0 1995-03-14  14          3    95
302      236      0 1995-05-01  01       May   1995
303      372      0 1995-05-01  01          5  1995
304      110      0 1995-06-17  17          6    95
305       60      0 1995-07-24  24          7    95
306      181      0 1995-08-18  18     August  1995
307      203      0 1995-09-06  06  September  1995
308       90      0 1995-10-13  13         10    95
309      169      0 1995-10-21  21        Oct  1995
310      324      0 1996-01-01  01         01  1996
311      479      0 1996-01-01  01         01  1996
312      142      0 1996-01-22  22        Jan  1996
313        4      0 1996-02-06   6          2    96
314      124      0 1996-02-27  27          2    96
315      121      0 1996-10-02  02         10    96
316      131      0 1996-10-14  14        Oct  1996
317      166      0 1996-11-11  11        Nov  1996
318      333      0 1997-01-01  01         01  1997
319      468      0 1997-01-01  01         01  1997
320      365      0 1997-07-01  01          7  1997
321      213      0 1997-07-11  11       July  1997
322       87      0 1997-08-09   9          8    97
323      353      0 1997-10-01  01         10  1997
324      101      0 1997-10-05  05         10    97
325      114      0 1997-12-08   8         12    97
326      251      0 1998-01-01  01         01  1998
327      338      0 1998-01-01  01         01  1998
328      459      0 1998-01-01  01         01  1998
329       45      0 1998-02-15  15          2  1998
330       18      0 1998-04-24  24          4    98
331      222      0 1998-05-15  15        May  1998
332      343      0 1998-06-01  01          6  1998
333       20      0 1998-07-21  21          7    98
334      224      0 1998-07-25  25       July  1998
335       12      0 1998-08-01  01          8    98
336       79      0 1998-10-04  04         10    98
337      387      0 1998-11-01  01         11  1998
338      120      0 1998-12-22  22         12    98
339      266      0 1999-01-01  01         01  1999
340      321      0 1999-01-01  01         01  1999
341      327      0 1999-01-01  01         01  1999
342      471      0 1999-01-01  01         01  1999
343       77      0 1999-01-05  05         01  1999
344      376      0 1999-02-01  01          2  1999
345      432      0 1999-04-01  01          4  1999
346      384      0 1999-05-01  01          5  1999
347      212      0 1999-07-24  24       July  1999
348      407      0 1999-08-01  01          8  1999
349      145      0 1999-10-18  18        Oct  1999
350      201      0 1999-12-23  23   December  1999
351      260      0 2000-01-01  01         01  2000
352      329      0 2000-01-01  01         01  2000
353      456      0 2000-01-01  01         01  2000
354      305      0 2000-02-01  01       Feb   2000
355      420      0 2000-03-01  01          3  2000
356      392      0 2000-05-01  01          5  2000
357      417      0 2000-08-01  01          8  2000
358      190      0 2000-08-10  10        Aug  2000
359      158      0 2000-08-23  23        Aug  2000
360      443      0 2000-09-01  01          9  2000
361       83      0 2000-09-14  14         09  2000
362      374      0 2000-11-01  01         11  2000
363      328      0 2001-01-01  01         01  2001
364      457      0 2001-01-01  01         01  2001
365      125      0 2001-01-24  24        Jan  2001
366      159      0 2001-05-26  26        May  2001
367      147      0 2001-05-30  30        May  2001
368      195      0 2001-05-30  30        May  2001
369      377      0 2001-06-01  01          6  2001
370      367      0 2001-09-01  01          9  2001
371      394      0 2001-10-01  01         10  2001
372      494      0 2002-01-01  01         01  2002
373      304      0 2002-03-01  01       Mar   2002
374      446      0 2002-04-01  01          4  2002
375       43      0 2002-04-13  13          4  2002
376      262      0 2002-06-01  01       Jun   2002
377      128      0 2002-06-28  28       June  2002
378      102      0 2002-07-18  18         07  2002
379      449      0 2002-08-01  01          8  2002
380      184      0 2002-11-11  11        Nov  2002
381      469      0 2003-01-01  01         01  2003
382      452      0 2003-03-01  01          3  2003

In [ ]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here









# End of assignment

#  Exercises from the Course

In [ ]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

####  Find the number of characters for each string in df['text']

In [ ]:

df = df.assign(text_length = df['text'].apply(len))

#### Find the number of tokens for each string in df['text']

In [ ]:

# df.assign(split_text = df['text'].str.split())
df_expanded = df['text'].str.split(expand=True)

df_expanded

####  Find which entries contain the word 'appointment'

In [ ]:
df = df.assign(text_contains_appointment = df['text'].str.contains('appointment'))

####  Find how many times a digit occurs in each string

<div class="alert alert-block alert-success">
<h5>Two methods shown - One gets the count of digits and the other uses a powerful function "enumerate" to loop through the string . It allows us to loop over something and have an automatic counter.</h5>
</div>

In [ ]:
df = df.assign(contains_digits = df['text'].str.count(r'\d'))

In [ ]:
def indexOfDigit(text):
    return ({c: i  for i, c in enumerate(text) if c.isdigit()})
    
df['text'].apply(indexOfDigit)

####  Find all occurances of the digits

In [ ]:

df['text'].str.findall(r'\d')

In [ ]:
Image('FIG3.png', width=400, height=400)

In [ ]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d?\d)')

In [ ]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

In [ ]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

In [ ]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

In [ ]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

In [ ]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

Adding a new cell