<h1> Template store of data cleaning functions</h1>

In [1]:
### Typical Imports

In [3]:
#The basics
#import pandas_profiling
import pandas as pd 
import numpy as np
import random



#FOr Stats
from scipy import stats as ss



#For visualizations
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib.animation as animation

#For Color map
import matplotlib.cm as cm



#For widgets using interact
from ipywidgets import interact, interactive, interact_manual, fixed
import ipywidgets as widgets

 
<div class="alert alert-block alert-info">
<h2>Getting a feel for the data at a glance</h2>
 
<h4>quart_df.info() </h4>
<p>quart_df.describe</p>
<p>quart_df.shape</p>
<p>quart_df.head()</p>
<p>quart_df.tail()</p>    
    
* Check if any column has unique values 
<p>for i in column_names:
  print('{} is unique: {}'.format(i, df[i].is_unique))</p>
    
* Check for index if any
   <p>df.index.values</p>

* Check if a certain index exists
<p>'foo' in df.index.values</p>
 
* If index does not exist
<p>df.set_index('column_name_to_use', inplace=True)
    
</div>

<div class='alert alert-block alert-warning'>
    <a href = 'https://medium.com/@rrfd/cleaning-and-prepping-data-with-python-for-data-science-best-practices-and-helpful-packages-af1edfbe2a3'> A comprehensive workflow for data cleaning</a>
</div>

<div class='alert alert-block alert-success'>
<a href='https://github.com/sjtalkar/StartHereTemplates/blob/master/DataManipulationExercises.ipynb'><h3>Quick and varied manipulations of dataframe and columns</h3></a>
</div>

##### Event handling
* Create a callback function 

<div class="alert alert-block alert-info">
def onclick_response(event):
   <p>     plt.title('Event handling at pixel {},  {}  and data {}, {} '.format(event.x, event.y, 
                <p>np.round(event.xdata, 2), np.round(event.ydata, 2)), fontsize='small')<\p>
    <p>    return
</div>


* Link it to the figure

<div class="alert alert-block alert-info">
fig.canvas.mpl_connect('button_press_event',onclick_response)
</div>


<div class="alert alert-block alert-info">

Use decorator interact with appropriate argument for widget type (lists for drop downs, vboolean for  checkboxes )

<p>@interact(x="42000")
<p>def compareUserThreshold(user_threshold="42000"):
    
</div>

#### Using assert to check if values in a column are as expected 

Let’s test if all the values in col1 are >= 0 by using the built in method assert which comes with the standard library in python. What you’re asking python if is True all the items in df[‘col1'] are greater than zero. If this is True then continue on your way, if not throw an error.

<code>
assert(df['col1'] >= 0 ).all() # Should return nothing
    
What about testing the two columns to see if they are equal?
assert(df['col1'] == df['col2']).all()
</code>

#### Pandas testing package

In [11]:
import pandas.util.testing as tm


df1 = pd.DataFrame({'col1':[1, 2, 3, 4,5], 'col2':[1, 2, 3, 4, 5]})

df2 = pd.DataFrame({'col1':[1, 2, 3, 4,5], 'col2':[1, 2, 3, 4, 5]})

tm.assert_series_equal(df1['col1'], df2['col2'])

AssertionError: Series are different

Attribute "name" are different
[left]:  col1
[right]: col2

#### Linking a dataframe to a dictionary through a map

In [ ]:
# Example:
zillow_allhomes_df  = pd.read_csv(r'City_Zhvi_AllHomes.csv')
zillow_allhomes_df.head()

zillow_allhomes_df.loc[:, 'State'] = zillow_allhomes_df.loc[:, 'State'].map(states)
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado'
         }

#### Groupby and Pivots

<div class="alert alert-block alert-info">


    
<p>Techniques for Working with Pivots¶
<p>Add a new column so that that counts can be displayed based on its unique values (This is for two column dfs)
<p>Pivot the table with index, columns and counts as values
<p>Flatten the multilevel column index    
    
</div>

#####  Group by 
<code style="background:grey;color:black">
dropMean_df = df.groupby('Team').agg({'Drops':'mean'})
    
    
Name the column in GroupBy
df.groupby('kind').agg(min_height=('height', 'min'), 
                               max_weight=('weight', 'max'))
    
    
df.groupby('Sex').agg(count_of_each=('Sex','count'))    
</code>

##### Create the pivot and merge multilevel index

<code style="background:grey;color:black">
outcome_df = df.pivot_table(values=['Result'], index=['Group'], columns= ['Outcome'], aggfunc=['count'])
#Combine the multilevel column name into one    
outcome_df.columns = ['_'.join(col).strip() for col in outcome_df.columns.values]
    
#get the size of each group
ratings_by_title = merged_df.groupby('title').size()
    
    
Accessing mutilevel columns
    
 We can see the columns are hierarchical. The top level column indices have two categories: mean and max, and
 the lower level column indices have four categories, which are the four rank levels. How would we query this
 if we want to get the average scores of First Tier Top Unversity levels in each country? We would just need
 to make two dataframe projections, the first for the mean, then the second for the top tier
new_df['mean']['First Tier Top Unversity'].head()
    
    
    
Multilevel index
    
If we want to see the population results from Washtenaw County in Michigan the state, which is 
where I live, the first argument would be Michigan and the second would be Washtenaw County
df.loc['Michigan', 'Washtenaw County']
    
If you are interested in comparing two counties, for example, Washtenaw and Wayne County, we can 
 pass a list of tuples describing the indices we wish to query into loc. Since we have a MultiIndex 
 of two values, the state and the county, we need to provide two values as each element of our 
 filtering list. Each tuple should have two elements, the first element being the first index and 
 the second element being the second index.

 Therefore, in this case, we will have a list of two tuples, in each tuple, the first element is 
 Michigan, and the second element is either Washtenaw County or Wayne County

df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]   
    
    
</code>

#### Anti-join
<code>
import pandas as pd

def anti_join(x, y, on):
    """Return rows in x which are not present in y"""
    ans = pd.merge(left=x, right=y, how='left', indicator=True, on=on)
    ans = ans.loc[ans._merge == 'left_only', :].drop(columns='_merge')
    return ans


def anti_join_all_cols(x, y):
    """Return rows in x which are not present in y"""
    assert set(x.columns.values) == set(y.columns.values)
    return anti_join(x, y, x.columns.tolist())
    
</code>

#### Adding a new row at bottom of pivot dataframe
<code style="background:grey;color:black">
new_row = {'Group' :'Observed_Difference' , 'count_Result_Failure' : FailureDiff, 'count_Result_Success': SuccessDiff, 'Total Count' : TotalDiff, 'avg_Success' : AvgDiff}
outcome_df = outcome_df.append(new_row, ignore_index=True)
</code>

#### Adding margin totals to a pivot

`df.pivot_table(values=['Price', 'Rating'], index='Manufacturer', columns='Bike Type', aggfunc=[np.mean], margins=True)`

##### Conditionals

` Using Where`
*     Create a new column called based on the value of another column
`df["Outcome"] = np.where(df['Result'] == 0, 'Failure', 'Success')`

` Three level nesting with np.where`
`np.where(if_this_condition_is_true_one, do_this, 
  np.where(if_this_condition_is_true_two, do_that, 
    np.where(if_this_condition_is_true_three, do_foo, do_bar)))`
    

*  Using Between

    `bool_series = data["Salary"].between(80000, 100000, inclusive = True) 
    
    
Extension of where 

 Here's my solution, I'm going to create a function called create_category which will operate on the first
 column in the dataframe, world_rank
def create_category(ranking):
    # Since the rank is just an integer, I'll just do a bunch of if/elif statements
    if (ranking >= 1) & (ranking <= 100):
        return "First Tier Top Unversity"
    elif (ranking >= 101) & (ranking <= 200):
        return "Second Tier Top Unversity"
    elif (ranking >= 201) & (ranking <= 300):
        return "Third Tier Top Unversity"
    return "Other Top Unversity"

Now we can apply this to a single column of data to create a new series
df['Rank_Level'] = df['world_rank'].apply(lambda x: create_category(x))
 And lets look at the result
df.head()
    
    
`

#### Rowwise/along row stats

<code style="background:grey;color:black">
Send the row in to this function using apply
</code>
<code style="background:grey;color:black">
def row_stats(row):
    data = row[['count_Result_Success','count_Result_Failure']]
    return pd.Series({'Total Count': np.sum(data)})
</code>
<code style="background:grey;color:black">
apply the function to each row, note the axis
outcome_df['Total Count'] = outcome_df.apply(row_stats, axis = 1)

</code>    


## Here's an example where we have a revised version of the function min_max Instead of returning a separate series to display the min and max we add two new columns in the original dataframe tostore min and max
<code>
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    # Create a new entry for max
    row['max'] = np.max(data)
    # Create a new entry for min
    row['min'] = np.min(data)
    return row
# Now just apply the function across the dataframe
df.apply(min_max, axis='columns')
    
</code>  
### Here's You can imagine how you might chain several apply calls with lambdas together to create a readable  yet succinct data manipulation script. One line example of how you might calculate the max of the columns  using the apply function.
<code>
rows = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013','POPESTIMATE2014', 
        'POPESTIMATE2015']
df.apply(lambda x: np.max(x[rows]), axis=1).head()
    
</code>

#### Entire dataframe stats - note the axis

<code style="background:grey;color:black">
df.mean(axis = 1) # Along the columns
</code>

##### Text file with hierachical data - states followed by cities cleaned to state-city columns

<code style="background:grey;color:black">
  state_town_tuple_list = []
    with open(r'university_towns.txt') as fref:
        for line in fref:
            lineWithoutSquare = line.split('[')[0].strip()
            if ':' in lineWithoutSquare and not ('(')  in lineWithoutSquare :
                continue
            else:
                if not ('(')  in lineWithoutSquare:
                    state = lineWithoutSquare
                else:
                    univTown = lineWithoutSquare.split(' (')[0].strip().split(',')[0].strip()
                    state_town_tuple_list.append((state, univTown) )
</code>    
<code style="background:grey;color:black">               
        state_univtown_df = pd.DataFrame(state_town_tuple_list, columns =['State', 'RegionName'])

#### Absent data or Missing Data

In [ ]:
 df = pd.DataFrame({'a': ['1?', '2?', '3'], 'b': ['4?', '?', '6?']})
    
 print(df)

df.replace({r'?': np.NaN}, regex=False)

#### Find what is at a certain row and column
<code>
df.at[df.index[df['Country'] == 'Africa'].values[0], 'Total confirmed cases']
<code>

#### Specify header, number of lines from bottom to ignore and drop columns and rows
<div class="alert alert-block alert-info">
read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)
</div>
<code style="background:grey;color:black">
GDP_qtr = pd.read_excel(r'gdplev.xls', skiprows= 5)
GDP_qtr= GDP_qtr.dropna(axis=0,how='all').dropna(axis=1,how='all').iloc[:,3:]
Only drop columns which have at least 90% non-NaNs
df.dropna(thresh=int(df.shape[0] * .9), axis=1)
</code>     
<code style="background:grey;color:black"> 
Drop columns
    Create list comprehension of the columns you want to lose
    columns_to_drop = [column_names[i] for i in [1, 3, 5]]
</code>
<code style="background:grey;color:black"> 
     Drop unwanted columns
    df.drop(columns_to_drop, inplace=True, axis=1)
</code>

####  Iterating through a dataset
<code style="background:grey;color:black">
    for i, row in GDP_qtr.iterrows():
</code>

#### Retrieving data of a column and not the series

`test.loc[:0, 1992] 
0   -8941.531897
Name: 1992, dtype: float64    
`    
   
`df['column'].item()
-8941.531896942593    
`

#### LaTeX MATH

Jupyter Notebooks’ Markdown cells support LateX for formatting mathematical equations. To tell Markdown to interpret your text as LaTex, surround your input with dollar signs like this:

`$\sqrt{k}$`

##### Determine Index for a certain column value

`GDP_qtr[GDP_qtr['YearQuarters']==recessionStart].index.item()
`

####  Reading lines from a file

` with open(r'university_towns.txt') as fref:
        for line in fref:`
        
        
`f.seek(n)'

#### Merge and joins

* PeriodIndex columns need to be changed in value to STR for Merge and Joins

     `month_names = pd.PeriodIndex(month_names, freq='Q') `

    `temp_zillow.columns = month_names`
    
    `#Makes ure the data in the periodindex columns are converted to str so that Merge and Join do not throw an error  `
    `temp_zillow.columns.values.astype('str')`

##### Example of a merge

` univ_towns_housing = pd.merge(housing_data, univ_towns, how="left", left_index=True, right_index=True)
   `
#### [Double colon slicing in Python and Pandas ](https://stackoverflow.com/questions/3453085/what-is-double-colon-in-python-when-subscripting-sequences  )


#### Checking if an index is Unique


dup_ts.index.is_unique

#### String operations


`[w for w in list if len(w) > 3]`

*For Capitalized first letter
`w.istitle(), isupper() .islower()`
`.split, .strip()`

`startswith(), endswith()`
`t in s`

`isalpha, isdigits(), isalnum()`

`s.lower(), s.upper()m s.titlecase()`

`s.splitlines()`
`s.join(t)`

`s.strip(), s.rstrip()   will also remove new line character`

`s.find(), s.rfind()`

`list(someword)  splits the word into characters   or [c for c in someword]`

`s.replace('o', 'O')`

`[w  for w in somelist of delimited words if w.startswith('#')]`

#### Regular expression

`import re`

`re.search('[a-zA-A0-9_]+', s)`

####  Creating a new column using ASSIGN

`df.assign(text_length = df['text'].apply(len))`

#### Find the value counts for each category

In [ ]:
counts = auto_prices['make'].value_counts() # find the counts for each unique category
counts

#### Dealing with Unicodes and Dedpes using ML
[Click here to check out the Unicodes section ](https://medium.com/@rrfd/cleaning-and-prepping-data-with-python-for-data-science-best-practices-and-helpful-packages-af1edfbe2a3)

https://medium.com/district-data-labs/basics-of-entity-resolution-with-python-and-dedupe-bc87440b64d4

#### Histogram bins with value_counts() similar to pd.cut

train['Fare'].value_counts(bins=7)


#### [Reverse columns and rows of a dataframe](https://www.marsja.se/six-ways-to-reverse-pandas-dataframe)

In the code example below, the second line (columns[::-1]) reverse the list of column names. 
<code>
columns = data_frame.columns.tolist()
columns = columns[::-1]
data_frame = data_frame[columns]
</code>

<code>
data_frame = data_frame.sort_index(axis=1 ,ascending=True)
First, we will use iloc which is integer based to reverse the order of the Pandas dataframe:

data_frame = data_frame.iloc[::-1]
    
Lastly, we can also use the method reindex to reverse by row. This will sort Pandas Dataframe reversed. That is, the last element will be first.

data_frame = data_frame.reindex(index=data_frame.index[::-1])
data_frame.head()    
</code>

#### When you have dataframes ebing create by reading a series of files (say PDFs or CSVs it is best to create a list of dataframes and concat them together
pd.concat(df_list)


#### Pattern for reading a series of CSV or text files
<li> Note that some TEXT and CSV file maight not have headers or might have unacceptable headers and so set the column names explicitly </li>
<li> when concatenating a list fo dataframe set ignore_index - true to have a continuous series</li>
<li> Initialize the list in the same cell as the loop (so it is definitely initialized in multiple runs!!!</li>
<code>
df_list = []
for year in range(1880, 2011):  
    filename = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/babynames/yob'+str(year)+'.txt'
    try:
        print(filename) 
        df = pd.read_csv(filename, header=None)
        df.columns = ['Name', 'Gender', 'Births']
        df['Year'] = year
        print(df.shape[0])
    except:
        pass
    if ~df.empty:
        df_list.append(df)
    
final_df = pd.concat(df_list, ignore_index=True)    
</code>    


#### Grouping WITHOUT aggregation/ Grouping as a partition
Since there is no aggregate function being called on the Group, the funcyion add_prop is applied to each element of a group. The Sum iss calculated per grouo partition

All the columns of the dataset are retained

<code>
def add_prop(group):
    group['prop'] = group.births / group.births.sum()
    return group
names = names.groupby(['year', 'sex']).apply(add_prop)
</code>    
    
    
    
#### Formatting datetime table
Table 11-2. Datetime format specification (ISO C89 compatible)

Type	Description

%Y	Four-digit year

%y	Two-digit year

%m	Two-digit month [01, 12]

%d	Two-digit day [01, 31]

%H	Hour (24-hour clock) [00, 23]

%I	Hour (12-hour clock) [01, 12]

%M	Two-digit minute [00, 59]

%S	Second [00, 61] (seconds 60, 61 account for leap seconds)

%w	Weekday as integer [0 (Sunday), 6]

%U	Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of 
the year are “week 0”

%W	Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of the year are “week 0”

%z	UTC time zone offset as +HHMM or -HHMM; empty if time zone naive

%F	Shortcut for %Y-%m-%d (e.g., 2012-4-18)

%D	Shortcut for %m/%d/%y (e.g., 04/18/12)


datetime.strptime is a good way to parse a date with a known format. However, it can be a bit annoying to have to write a format spec each time, especially for common date formats. In this case, you can use the parser.parse method in the third-party dateutil package (this is installed automatically when you install pandas):

In [31]: from dateutil.parser import parse

In [32]: parse('2011-01-03')
Out[32]: datetime.datetime(2011, 1, 3, 0, 0)

#### Group By and Filtering

<code>
 # For instance, if we only want those groups which have a mean rating above 9 included in our results
df.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value'])>9.2)   
</code>

#### Transform

<code>
 # First, lets define just some subset of columns we are interested in
cols=['cancellation_policy','review_scores_value']
# Now lets transform it, I'll store this in its own dataframe
transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()
    
So we can see that the index here is actually the same as the original dataframe. So lets just join this
in. Before we do that, lets rename the column in the transformed version
transform_df.rename({'review_scores_value':'mean_review_scores'}, axis='columns', inplace=True)
df=df.merge(transform_df, left_index=True, right_index=True)
df.head()    
    
    
</code>

In [3]:
import pandas as pd

myindex=pd.date_range(start='1/1/2020', end='1/31/2020')
a = [i for i in range(len(myindex))]
df = pd.DataFrame(a, index=myindex)
df['Weekday'] = df.index.weekday

# Monday is 0 and Sunday is 6  

#pd.DateFrame(index=pd.date_range(start='1/1/2020', end='1/31/2020')

In [4]:
df

             0  Weekday
2020-01-01   0        2
2020-01-02   1        3
2020-01-03   2        4
2020-01-04   3        5
2020-01-05   4        6
2020-01-06   5        0
2020-01-07   6        1
2020-01-08   7        2
2020-01-09   8        3
2020-01-10   9        4
2020-01-11  10        5
2020-01-12  11        6
2020-01-13  12        0
2020-01-14  13        1
2020-01-15  14        2
2020-01-16  15        3
2020-01-17  16        4
2020-01-18  17        5
2020-01-19  18        6
2020-01-20  19        0
2020-01-21  20        1
2020-01-22  21        2
2020-01-23  22        3
2020-01-24  23        4
2020-01-25  24        5
2020-01-26  25        6
2020-01-27  26        0
2020-01-28  27        1
2020-01-29  28        2
2020-01-30  29        3
2020-01-31  30        4

In [5]:
df.resample('W', closed = 'right').sum()
#The value of the end of the week which is Sunday 05 IS included
# ‘W’ which all have a default of ‘right' for label

              0  Weekday
2020-01-05   10       20
2020-01-12   56       21
2020-01-19  105       21
2020-01-26  154       21
2020-02-02  140       10

In [6]:
df.resample('W', closed = 'left').sum()
# The value of the end of the week (Sunday which is the teh right end is NOT included)
# Default label is right

              0  Weekday
2020-01-05    6       14
2020-01-12   49       21
2020-01-19   98       21
2020-01-26  147       21
2020-02-02  165       16

In [7]:
df.resample('W', closed = 'right', label='left').sum()

              0  Weekday
2019-12-29   10       20
2020-01-05   56       21
2020-01-12  105       21
2020-01-19  154       21
2020-01-26  140       10

In [9]:
df.resample('W', closed = 'left', label='left').sum()

              0  Weekday
2019-12-29    6       14
2020-01-05   49       21
2020-01-12   98       21
2020-01-19  147       21
2020-01-26  165       16

<div class= 'alert alert-block alert-warning'>
  <h3>Prof Chris Brooks Tips and Tricks</h3>           
</div>

In [1]:
import pandas as pd

attendees=[
    {"name":"john","partner":"casey","a1":80,"a2":90,"a3":100},
    {"name":"casey","partner":"john","a1":88,"a2":60,"a3":89},
    {"name":"samantha","partner":"adam","a1":82,"a2":95,"a3":40},
    {"name":"adam","partner":"samantha","a1":84,"a2":70,"a3":89},
    {"name":"rupal","partner":"zihan","a1":60,"a2":90,"a3":100},
    {"name":"zihan","partner":"rupal","a1":84,"a2":67,"a3":105}]
df=pd.DataFrame(attendees)
display(df)

       name   partner  a1  a2   a3
0      john     casey  80  90  100
1     casey      john  88  60   89
2  samantha      adam  82  95   40
3      adam  samantha  84  70   89
4     rupal     zihan  60  90  100
5     zihan     rupal  84  67  105

In [2]:
df=pd.merge(df,df,left_on="name",right_on="partner")
display(df)

     name_x partner_x  a1_x  a2_x  a3_x    name_y partner_y  a1_y  a2_y  a3_y
0      john     casey    80    90   100     casey      john    88    60    89
1     casey      john    88    60    89      john     casey    80    90   100
2  samantha      adam    82    95    40      adam  samantha    84    70    89
3      adam  samantha    84    70    89  samantha      adam    82    95    40
4     rupal     zihan    60    90   100     zihan     rupal    84    67   105
5     zihan     rupal    84    67   105     rupal     zihan    60    90   100

In [3]:
import numpy as np

df["grade_difference"]=df.apply(lambda x: np.sum(x[["a1_x","a2_x","a3_x"]])/3 - np.sum(x[["a1_y","a2_y","a3_y"]])/3, axis=1)
display(df[["name_x","name_y","grade_difference"]])

     name_x    name_y  grade_difference
0      john     casey         11.000000
1     casey      john        -11.000000
2  samantha      adam         -8.666667
3      adam  samantha          8.666667
4     rupal     zihan         -2.000000
5     zihan     rupal          2.000000

In [1]:
import pandas as pd
from faker import Faker

fake = Faker()
df=pd.DataFrame([{"datetime":fake.iso8601(),
                  "user_agent":fake.user_agent(),
                  "url":fake.uri(), 
                  "architecture":fake.linux_processor(),
                  "amazon-product-upc-redirect": fake.upc_a(),
                  "machine":fake.ipv4()} for x in range(10000)])
df.head()

,datetime,user_agent,url,architecture,amazon-product-upc-redirect,machine
0,2010-07-06T23:54:07,Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...,https://www.sherman-jones.com/,x86_64,944548002112,140.34.91.163
1,1998-05-30T14:03:41,Opera/9.96.(Windows 98; sa-IN) Presto/2.9.189 ...,https://odonnell.com/app/category.html,i686,597494845458,196.25.229.172
2,2019-12-22T07:12:05,Opera/8.19.(X11; Linux x86_64; mk-MK) Presto/2...,https://www.simpson.net/privacy/,i686,353480306118,133.44.208.74
3,2012-01-12T16:05:07,Opera/9.21.(Windows NT 5.2; nds-DE) Presto/2.9...,https://vazquez.com/category/,i686,908827286259,102.13.146.149
4,2003-11-12T16:34:29,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,http://www.baker.info/,x86_64,385563144997,196.95.7.223

In [2]:
df.dtypes

datetime                       object
user_agent                     object
url                            object
architecture                   object
amazon-product-upc-redirect    object
machine                        object
dtype: object

In [3]:
import numpy as np
print( df.memory_usage(deep=True, index=False) )
print( f"{np.sum(df.memory_usage(deep=True, index=False))} bytes in total size")

datetime                        760000
user_agent                     1491423
url                             920090
architecture                    620152
amazon-product-upc-redirect     690000
machine                         702394
dtype: int64
5184059 bytes in total size

In [ ]:
# let's make a copy for a comparison later
new_df=df.copy(deep=True)

# let's change the datetime field from strings to a timestamp
new_df["datetime"]=pd.to_datetime(new_df["datetime"])

# there are only a handful of values for the architecture column, so lets change this to categories
new_df["architecture"]=new_df["architecture"].astype('category')

# one option involves changing data to fit a type better. That UPC code is just a string of digits, can we convert this
# to an integer to store them? What is the downside of this approach?
new_df["amazon-product-upc-redirect"] = new_df["amazon-product-upc-redirect"].astype(int)

# we can go much further if we wanted to, and it depends on how someone is going to query data. For instance, an IPv4
# address is actually just four bytes of information - numbers 1-255 four times in a row. But the string representation
# (called a "dotted quad") is massive, up to 16 characters and in unicode these could be 4 bytes a piece!
from ipaddress import IPv4Address
new_df["machine"]=new_df["machine"].apply(lambda x: int.from_bytes(IPv4Address(x).packed, byteorder='big'))

# Let's take a look at what this looks like to the eye:
display(new_df.head())

In [ ]:
# absolute savings in bytes
display(df.memory_usage(deep=True, index=False)-new_df.memory_usage(deep=True, index=False))

# size as a percentage of original
display(new_df.memory_usage(deep=True, index=False)/df.memory_usage(deep=True, index=False)*100)

In [ ]:
We wouldn't expect to see differences in the user_agent and url but we do see significant memory savings on all of the columns, which clock in at about 10% of the size of the original data except for the one which we changed to categorical data which is now highly compressed at under 2% of original size!

So what's this mean for performance? I don't know -- why don't you use the skills you've learned thus far, and use of %%timeit to investigate and report out on slack!

In [ ]:
## Change datatype from dataframe to array 
x = nyc['distance'].values.reshape((-1, 1))

In [ ]:
Convert BGR to RGB
plt.axis("off")
plt.imshow(cv2.cvtColor(image, cv2.COLOR_BGR2RGB))
plt.show()


##  TIPS AND TRICKS

<div class="alert alert-block alert-success">

<h4> Pretty Print </h4>    
<p>import pprint as pp
<p>pp.pprint (df)

    
<h4> Undo a delete </h4>    
 <li> Contents :  CTRL + Z</li>
 <li> Entire Cell :  ESC+Z  </li>   

    
<li> Esc + M to create a markdown
    
<li> Shift + Enter to run and create new cell below </li>    
    
<li> Find the dataframes in a notebook </li>
    
<p> listDF = %who_ls DataFrame </p>
<h4> Display Options </h4> 
<div>    
<p>pd.set_option('display.max_columns', 10)
<p>pd.set_option('display.max_rows', 10)
</div>
    
    
<h4> Find and replace in all cells in Jupyter notebook </h4>
    * Edit-> Find and replace Click double sided arrow
    
    
<h4> Error Source </h4>
   <li> Using variables from a previous cell and not noticiing it has been initialized or changing a variable name in one cell and not noticing/applying the change in a lower cell
   <li> Initialize an empty list in the same cell as you use it
    
</div>